body
	font-family: clearsans
	font-size: 10pt
	color: #333
	overflow-x: hidden
	overflow-y: auto 
	*
		font-family: clearsans
		box-sizing: border-box
	&.no-scroll
		overflow-y: hidden
.ui-conteiner
	>*
		margin-bottom: 20px
		margin-top: 20px


.bg-gray
	background-color: $gray

.bg-d-blue
	background-color: $d-blue

.bg-l-blue
	background-color: $l-blue


.hover-border-blue
	transition: all ease .3s
	&:hover
		box-shadow: 0 0 0px 2px $l-blue
		border-color: transparent


p
	font-family: clearsanslight
	font-size: 11pt
	line-height: 1.7
	margin: 0
	








		