

.t-a-l
	text-align: left
.t-a-r
	text-align: right
// блок подписки 
.b-subscribe
	padding: 45px 30px
	margin-top: 30px
	margin-bottom: 30px
	background-color: $d-blue
	background-image: url("/img/1.png")
	background-repeat: no-repeat
	background-position: right top
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: space-between
	&__title
		font-size: 12pt
		color: #fff
		margin-right: 30px
	&__form
		flex: 1
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		background-color: #fff
		border-radius: 50px
		border: 1px solid #fff
		.input
			color: #8E98AD
			font-size: 12pt
			padding-top: 15px
			padding-bottom: 15px
			line-height: 1em
			width: 100%
			background-color: #fff
			border: none
			padding-left: 25px
			border-radius: 50px 0 0 50px

	&__send
		font-size: 11pt
		color: #fff
		background-color: $l-blue
		border: none
		border-radius: 50px
		padding-left: 20px
		padding-right: 20px
		cursor: pointer

.b-subscribe--full
	justify-content: center
	background-image: url(/img/subscribe-fone--full.png)
	padding: 30px 0
	background-size: cover
	background-position: center top
	margin-top: 0
	margin-bottom: 0
	.b-subscribe
		&__form
			max-width: 440px


// сслыка с убегающей стрелкой

.link-mit-arrow
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: flex-start
	color: $l-blue
	text-decoration: none
	font-size: 11pt	
	&__icon
		margin-left: 10px
		height: 16px
		width: 16px
		border-radius: 50%
		background-color: $l-blue
		color: #fff
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden
	.icon
		font-size: 6px
		//transition: all ease .3s
	&:hover
		.link-mit-arrow__icon
			.icon
				animation: link_mit_arrow  .5s   ease


// стили пагинации
.b-pagination
.pagination
	&__list
		padding-left: 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	&__item
		display: -webkit-inline-flex
		display: -moz-inline-flex
		display: -ms-inline-flex
		display: -o-inline-flex
		display: inline-flex
		align-items: center
		justify-content: center
		line-height: 1em
		border: 1px solid #D6DAE3
		font-size: 10pt
		margin-left: -1px
		width: 33px
		transition: background-color ease .3s
		&:hover:not(.pagination__item--active)
			background-color: $gray
		&--active
			background-color: $l-blue 
			border-top: 1px solid $l-blue
			border-bottom: 1px solid $l-blue
			a
				color: #fff  !important
		a
			text-decoration: none
			color: #333
			padding: 12px
		.icon
			color: #8E98AD
			font-size: 8px


// Базовые стили ссылк с иконкой
.link-mit-icon
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: flex-start
	font-size: 11pt
	color: $l-blue
	line-height: 1em
	text-decoration: none 
	.icon	
		margin-right: 8px
		font-size: 1.1em
	.icon-vk
		font-size: 10px
	span
		border-bottom: 1px solid
		transition: border ease .3s
		color: $l-blue

	&:hover
		span
			border-bottom: 1px solid transparent
		

.icon-youtube
	color: #D62B2B
	font-size: 14px !important


// Стилий для блока Заголовок + контент
.content-mit-tiile
	+grid-6--lg
	margin-bottom: 60px

.title-default
	width: 100%
	border-bottom: 1px solid #D6DAE3
	margin-bottom: 50px
	span
		font-size: 18pt
		color: #333
		margin-bottom: -5px
		display: inline-block
		padding-right: 10px

.title-default--gray
	span
		background-color: $gray

.title-default--small
	margin-bottom: 15px
	span
		font-size: 10pt
		font-family: clearsansmedium
		line-height: 2em
		display: inline-block

.title-default--white
	span
		color: #333	
		background-color: #fff

.title-default--mit-link
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	a
		padding-bottom: 10px
		span 
			font-size: 11pt
			margin-bottom: 0
			padding-right: 0
			color: #8E98AD

.title-not-border
	padding-bottom: 30px
	font-size: 14pt
	color: #333
// карточка игрока
.player-card--small
	background: #fff
	overflow: hidden
	border: 1px solid #D6DAE3
	box-shadow: 0px 0px 9px 1px #D6DAE3

.player-card--link
	cursor: pointer

.player-card

	&__header-bgi
		height: 13px
		width: 100%
		background-position: bottom right
		background-repeat: no-repeat
		background-image: url("/img/player-card-header-bgi.png")

	&__content
		padding: 30px 30px 50px

	&__header
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding-top: 20px

	&__photo
		+bgi
		height: 170px
		width: 170px
		min-width: 170px
		border-radius: 50%
		background-size: cover
		margin-top: -20px
		background-position: top center 

	&__info
		flex: 1
		margin-left: 30px
		margin-right: 30px

	

	&__name
		font-size: 20pt
		color: #333
		margin-bottom: 10px
		max-width: 160px

	&__name--little
		font-size: 14.7pt
		color: #333
		margin-bottom: 10px
		max-width: 160px


	&__team
		font: 11pt
		font-family: clearsansmedium
		color: $l-blue
		text-transform: uppercase
		margin-top: 15px

	&__status
		color: #8E98AD
		font-size: 11pt
		margin-top: 10px

	&__number
		color: #1A1A1A
		sup 
			font-family: arial
			font-size: 10pt
			font-weight: bold
			line-height: 30pt
			vertical-align: bottom
			padding-right: 5px
		sub
			font-family: arial
			font-size: 10pt
			font-weight: bold
			line-height: 30pt
			vertical-align: bottom
			padding-right: 5px

		span
			font-family: clearsansmedium
			font-size: 30pt

	&__photo--little
		+bgi
		height: 120px
		width: 120px
		border-radius: 50%
		background-position: top center 
		background-size: cover
		
	&__info--little
		flex: 1
		margin-left: 30px
		margin-right: 30px

	&__team--little
		font: 9pt
		font-family: clearsansmedium
		color: $l-blue
		text-transform: uppercase
		margin-top: 15px

	&__status--little
		color: #8E98AD
		font-size: 9pt
		margin-top: 10px

	&__number--little
		color: $l-blue
		margin-bottom: 10px
		sub
			font-family: arial
			font-size: 8.8pt
			font-weight: bold
			line-height: 14pt
			vertical-align: bottom
			padding-right: 3px
		span
			font-family: clearsansmedium
			font-size: 14pt

	&__static-wrap
		padding: 0px 25px 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&__static
		padding-top: 30px

		&-value
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: flex-start
			width: 30%
			align-items: center
			position: relative
			&:after
				content: ''
				border-right: 1px solid #E6E6E6
				display: block
				width: 1px
				height: 100%
				right: -10px
				position: absolute
				transform: rotate(25deg)
				top: 4px
			&:last-of-type
				&:after
					display: none
		&-delmiter
			// border-right: 1px solid #E6E6E6
			// display: block
			// width: 1px
			// transform: rotate(25deg)
			// flex-basis: 20px

		&-number
			color: $l-blue
			font-size: 32pt

		&-title
			color: #8E98AD
			font-size: 9pt
			font-family: clearsansmedium
			margin-left: 10px

.player-card--little
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

// стили блока слайдер с видео
.container--youtube-slider
	padding-top: 60px
	padding-bottom: 60px
	.lSSlideOuter 
		.lSPager.lSpg
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: flex-start
			align-items: center
			padding-top: 30px
			margin-top: 0
			margin-right: 19px
			a
				background-color: #AFBAD1
				height: 6px
				width: 6px
				transition: all ease .2s
			li
				display: inline-block
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				height: 12px
			.active
				a
					background-color: $l-blue
					height: 10px
					width: 10px


.b-slider

.slider--youtube

.b-slider__item
.b-slider__item--youtube

.container-video
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between


.wrap-small-video
	width: 48.5%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-self: stretch

.video--big
	width: 49.5%

.video--small
	width: 48.5%
	margin-bottom: 30px
	height: calc((100% / 2) - 15px)


// стили блока фотогалереи
.b-fotogalery
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-start
	justify-content: space-between

.fotogalery-card
	width: 24.5%
	&__photo
		+bgi
		position: relative
		height: 190px
		width: 100%
		background-size: cover

	&__hover
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		transition: all ease .4s
		text-decoration: none
		color: #fff
		font-family: clearsansmedium
		font-size: 10pt
		opacity: 0
		.icon
			font-size: 15px
			margin-left: 15px

		
	&__footer
		padding-top: 15px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-wrap: wrap
		padding-right: 10px

	&__date
		color: #8E98AD
		font-family: clearsansmedium
		text-transform: uppercase

	&__share
		.icon
			font-size: 15px
			color: #8E98AD

	&__name
		color: #333
		font-size: 11pt
		margin-top: 5px
		text-decoration: none
		transition: color ease .3s
		width: 100%

	&:hover
		.fotogalery-card__hover
			background-color: rgba(22,131,201,0.8)
			opacity: 1
		.fotogalery-card__name
			color: $l-blue


// слайдер партнёров
.b-slider--partners

.b-slider__item--partners
	text-align: center

.card-partner
	text-decoration: none !important
	position: relative
	display: inline-block
	span
		display: block
		
	&__logo
		position: relative
		display: inline-block
		img
			filter: grayscale(1)
			transition: filter ease .3s

	&__type
		color: #333
		font-size: 10pt
		margin-top: 30px
		margin-bottom: 5px
	
	&__name
		color: #8E98AD
		font-size: 11pt
		max-width: 150px
		margin-left: auto
		margin-right: auto

	&:hover
		img
			filter: grayscale(0)


// стили хлебных крошек
.b-breadcrumbs
	+container
	padding-top: 25px
	padding-bottom: 25px

.breadcrumbs__item
	color: #6F7D9D

	&--link
		text-decoration: none
		color: $l-blue
		&:after
			content: '-'
			padding-left: 5px
			padding-right: 6px

// несколько ссылок в блоке title
.wrap-title-links
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-end
	
.title-links__item
	text-decoration: none
	margin-left: 15px
	color: #8E98AD
	font-size: 11pt
	margin-bottom: -1px
	border-bottom: 2px solid transparent
	transition: color ease .3s
	padding-bottom: 10px
	span
		border-bottom: none !important
		transition: color ease .3s
	.icon
		font-size: 8px
	&.active
		color: $l-blue
		border-bottom: 2px solid
		span
			color: $l-blue
	&:hover
		color: $l-blue
		span
			color: $l-blue

	&--blue
		color: $l-blue


// Стили карточки матча

.card-match
	position: relative

.card-match--small
	background-color: #fff
	border: 1px solid #D6DAE3
	padding: 35px 40px 20px
	.card-match
		&__type
			padding-bottom: 15px


.card-match--result
	background-color: #E7EAF0
	.card-match
		&__location
			background-color: #8E98AD
		&__date
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			&-day
				order: 2
				padding-top: 6px
				color: #6F7D9D
			&-time
				color: $l-blue


.card-match--link
	transition: border ease .3s
	text-decoration: none
	display: block
	cursor: pointer
	&:hover
		border: 1px solid $l-blue

.card-match
	&__location
		position: absolute
		right: -1px
		top: -1px
		font-size: 8.5pt
		padding: 5px 12px
		background-color: $blue
		color: #fff
		border-radius: 0 0 0 5px
		line-height: 1em

		&--home
			background-color: $l-blue

	&__type
		color: #6F7D9D
		font-size: 10pt
		text-align: center

	&__info
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: space-between


	&__team
		text-align: center
		&-logo
			width: 100px
			height: 50px
			+bgi
			margin-left: auto
			margin-right: auto
		&-name
			font-family: clearsansmedium
			font-size: 11pt
			color: #000
			margin-top: 14px
			margin-bottom: 7px
		&-location
			color: #6F7D9D
			font-size: 9pt


	&__vs
		color: #8E98AD
		font-size: 16pt

	&__date
		text-align: center
		font-family: clearsansmedium
		&-day
			font-size: 9pt
			color: #1A1A1A
		&-time
			font-size: 24pt
			color: #333
	&__video
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		position: relative
		padding-left: 20px
		padding-right: 20px
		flex-basis: 194px
		flex-direction: column
		background-image: url("/img/video-bgi.png")
		background-size: cover
		cursor: pointer
		border: none

		&-day
			font-size: 9pt
			font-family: clearsansmedium
			color: #fff
			z-index: 2
			margin-top: 20px
			margin-bottom: -20px

		&:after
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-color: $l-blue
			opacity: 0.7

		.icon
			color: #fff
			font-size: 16px
			z-index: 2

	&__location-map
		height: 0
		overflow: hidden
		transition: height ease .3s, margin-top ease .3s
		&.show-map
			height: 340px
			margin-top: 30px


.card-match--full
	border: 1px solid #D6DAE3
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	margin-bottom: 25px
	margin-top: 25px
	
	//padding-right: 54px

	.card-match
		&__date
			text-align: center
			font-family: clearsansmedium
			background-color: #E7EAF0
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			padding-left: 54px
			padding-right: 54px
			&-day
				font-size: 9pt
				color: #1A1A1A
			&-time
				font-size: 24pt
				color: #333

		&__info
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-around
			flex: 1 
			padding: 50px 12%
			border-left: 1px solid #D6DAE3
			border-right: 1px solid #D6DAE3
			width: 100%
		&__team
			text-align: center
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			&:first-of-type
				padding-right: 20px
			&:last-of-type
				padding-left: 20px
			&-logo
				height: 50px
				width: 70px
				+bgi
			&-name
				font-family: clearsansmedium
				font-size: 14pt
				color: #000
				margin-top: 0
				margin-bottom: 7px
			&-location
				color: #6F7D9D
				font-size: 10pt
			&--first
				.card-match__team-wrap
					.card-match__team-name, .card-match__team-location
						text-align: right 
					margin-right: 20px
			&--two
				.card-match__team-wrap
					.card-match__team-name, .card-match__team-location
						text-align: left 
					margin-left: 20px

		&__detaile
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: center
			align-items: center
			flex-direction: column
			padding-left: 20px
			padding-right: 20px
			flex-basis: 290px

		&__type
			padding-bottom: 15px
			font-size: 11pt

.card-match--big
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	border: 1px solid #D6DAE3

	
	.card-match
		&__media-team
			display: none
		&__team
			flex-basis: 320px
			padding-top: 80px
			padding-bottom: 80px

			&-logo
				width: 70px
			&-name
				font-size: 14pt

			&-location
				font-size: 10pt


		&__info
			position: relative
			flex: 1
			flex-direction: column
			padding-top: 50px

			&-header
				text-align: center

			&-footer
				background-color: #D8DDE6
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				width: 100%
				justify-content: space-between
				align-items: center
				padding-left: 30px
				min-height: 90px

		&__date
			font-size: 9pt
			text-align: left
			padding-right: 50px
			span
				display: block
				margin-top: 10px

		&__date--header

			.card-match__date
				&-day
					font-family: clearsansmedium
					font-size: 9pt
					padding-top: 36px
				&-time
					color: #333
					font-size: 36pt
					font-family: clearsansmedium


		&__stadium
			border: none
			padding: 0
			background: none
			text-decoration: underline
			color: $l-blue
			font-size: 11pt
			flex: 1
			text-align: left
			cursor: pointer
			span
				display: block

		&__video
			height: 90px
			flex-basis: 130px

		&__score
			color: $l-blue
			font-size: 36pt
			font-family: clearsansmedium
			padding-top: 20px
			padding-bottom: 10px

		&__result
			color: #6F7D9D
			font-size: 11pt
			text-align: center
			max-width: 190px
			margin-left: auto
			margin-right: auto

.b-text-border
	font-size: 12pt
	padding-left: 20px
	border-left: 2px solid #DFE3EB
	max-width: 820px
	margin-top: 50px
	margin-bottom: 50px
	color: #333
	line-height: 1.5

.b-text-border--blue
	@extend .b-text-border
	border-left: 2px solid $l-blue

.b-text-border--center
	@extend .b-text-border
	margin-left: auto
	margin-right: auto



.b-tab__controls
	.tab-controls__item
		border: none
		background-color: transparent
		font-size: 11pt
		padding-bottom: 10px
		margin-left: 10px
		color: #8E98AD
		cursor: pointer
		transition: color ease .3s
		padding-left: 10px !important
		padding-right: 10px !important
		&.active
			color: $l-blue
		

.b-tab__container
.b-tab__item
	display: none
	&:first-of-type
		display: block



// стили для юлоков админки
.photo-map__mark-content
	input
		display: block
		border-radius: 3px
		border-color: $gray
		outline: none
		border: none
		margin-bottom: 10px
		padding: 5px 10px

#js-photo-map
	.photo-map__mark
		height: 40px
		width: 40px
		&.show-mark-content
			height: auto
			width: auto
		&-delete
			font-size: 8pt
			margin-top: 20px

// номер игрока команды
.number
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	color: #1A1A1A
	sup
		font-size: 10pt
		line-height: 1em
		font-family: Arial
		padding-right: 5px
		top: -3px

	span
		font-size: 30.1pt
		font-family: clearsansmedium

// ссылка вернутся назад
.link-back
	text-decoration: none
	color: $l-blue
	font-size: 11pt
	vertical-align: middle
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	align-items: center
	.icon
		color: $l-blue
		font-size: 7px
		margin-right: 15px
		margin-bottom: -2px
	&:hover
		.icon
			animation: link_back  .5s   ease



.b-text--toggle

.b-text__hidden-part
	display: none
.btn-text-show
	padding: 0
	font-size: 11pt
	color: $l-blue
	background: none 
	border: none
	margin-top: 20px
	margin-bottom: 10px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	cursor: pointer
	span
		line-height: 1
	.icon
		font-size: 5px
		margin-left: 10px
		margin-bottom: -2px
		transition: transform linear .3s
	&.active
		.icon
			transform: rotate(180deg)


.do-scroll
	color: $l-blue
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	padding-bottom: 20px
	&__icon
		font-size: 35px
		margin-right: 12px
	&__title
		font-size: 9pt
		font-family: clearsansmedium

.load-more
	color: $l-blue
	font-size: 11pt
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	border: none
	background: none
	margin-left: auto
	margin-right: auto
	margin-bottom: 20px
	cursor: pointer
	span
		margin-right: 10px
		line-height: 1
	.icon-load-more
		font-size: 5px
		margin-bottom: -2px


// стили кнопки share
.share

	&__item
		display: -webkit-inline-flex
		display: -moz-inline-flex
		display: -ms-inline-flex
		display: -o-inline-flex
		display: inline-flex
		align-items: center
		padding: 0 15px
		border-radius: 38px
		color: #fff
		background-color: #5478A4
		margin-left: 12px
		margin-right: 12px
		height: 30px
		&--vk
			background-color: #5478A4
		&--facebook
			background-color: #425797
			.share__icon
				font-size: 14px
		&--twetter
			background-color: #1DA1F2
			.share__icon
				font-size: 14px

	&__title
		margin-left: 15px
		margin-right: 10px
		margin-top: -2px

	&__btn
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		padding-top: 10px
		padding-bottom: 10px
		cursor: pointer
		border-right: 1px solid #fff

	&__icon
		font-size: 10px

	&__counter
		font-size: 10pt
		padding-left: 10px
		line-height: 10px

		





