
// grid-4 => 4/12 контайнера
// grid-6 => 6/12 контайнера

.show-media
	display: block !important
	&-flex
		display: block
	&--sm // 481
		display: none !important
	&--md // 769
		display: none !important
	&--lg // 992
		display: none !important
	&--xl // 1241
		display: none !important

	&--sm-flex // 481
		display: none !important
	&--md-flex // 769
		display: none !important
	&--lg-flex // 992
		display: none !important
	&--xl-flex // 1241
		display: none !important

.hide-media
	display: none !important



.container
	max-width: 1240px
	margin-left: auto
	margin-right: auto

=container
	max-width: 1240px
	margin-left: auto
	margin-right: auto


.f-container
	@extend .container
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.f-container--default
	justify-content: space-between
	padding-top: 55px
	padding-bottom: 55px
	flex-wrap: wrap

.container--default
	padding-top: 55px
	padding-bottom: 55px


.grid-container
	flex-wrap: wrap
	align-items: flex-start
	justify-content: flex-start
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-left: -1%
	margin-right: -1%

.grid-4
	width: 31.3%
	margin-left: 1%
	margin-right: 1%

.grid-6
	width: 48.5%

=grid-6--lg()
	width: 48.5%
