.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	height: 0;
	width: 0;
	visibility: hidden;
	overflow: hidden;
}

.icon-1 {
	font-size:(19/10)*1rem;
	width:(80/19)*1em;
}
.icon-10 {
	font-size:(14/10)*1rem;
	width:(15/14)*1em;
}
.icon-11 {
	font-size:(9/10)*1rem;
	width:(9/9)*1em;
}
.icon-12 {
	font-size:(7/10)*1rem;
	width:(7/7)*1em;
}
.icon-13 {
	font-size:(4/10)*1rem;
	width:(6/4)*1em;
}
.icon-14 {
	font-size:(4/10)*1rem;
	width:(6/4)*1em;
}
.icon-15 {
	font-size:(6/10)*1rem;
	width:(4/6)*1em;
}
.icon-16 {
	font-size:(6/10)*1rem;
	width:(4/6)*1em;
}
.icon-17 {
	font-size:(8/10)*1rem;
	width:(5/8)*1em;
}
.icon-18 {
	font-size:(8/10)*1rem;
	width:(5/8)*1em;
}
.icon-19 {
	font-size:(7/10)*1rem;
	width:(12/7)*1em;
}
.icon-2 {
	font-size:(10/10)*1rem;
	width:(17/10)*1em;
}
.icon-20 {
	font-size:(7/10)*1rem;
	width:(12/7)*1em;
}
.icon-21 {
	font-size:(12/10)*1rem;
	width:(7/12)*1em;
}
.icon-22 {
	font-size:(12/10)*1rem;
	width:(7/12)*1em;
}
.icon-23 {
	font-size:(55/10)*1rem;
	width:(27/55)*1em;
}
.icon-24 {
	font-size:(55/10)*1rem;
	width:(38/55)*1em;
}
.icon-25 {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-26 {
	font-size:(18/10)*1rem;
	width:(13/18)*1em;
}
.icon-27 {
	font-size:(17/10)*1rem;
	width:(13/17)*1em;
}
.icon-28 {
	font-size:(35/10)*1rem;
	width:(31/35)*1em;
}
.icon-29 {
	font-size:(64/10)*1rem;
	width:(63/64)*1em;
}
.icon-3 {
	font-size:(17/10)*1rem;
	width:(9/17)*1em;
}
.icon-4 {
	font-size:(14/10)*1rem;
	width:(17/14)*1em;
}
.icon-5 {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-6 {
	font-size:(14/10)*1rem;
	width:(20/14)*1em;
}
.icon-7 {
	font-size:(16/10)*1rem;
	width:(17/16)*1em;
}
.icon-8 {
	font-size:(15/10)*1rem;
	width:(16/15)*1em;
}
.icon-9 {
	font-size:(16/10)*1rem;
	width:(13/16)*1em;
}
.icon-logo {
	font-size:(64/10)*1rem;
	width:(196/64)*1em;
}
