extends layout/_clear

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'404'}

block content_block
	#SVG_container
	.bg-gray(style="min-height: 100vh")
		.f-container--default.f-container--404
			.wrap-404
				.b-404__content
					h1.b-404__title 404
						span ОШИБКА!
					.b-404__description
						p Такой страницы не существует.
						span Вернуться на 
						a(href="/") главную.
				img(src="/img/404.png", alt="404").b-404__photo