extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'"Cеверянка". Сезон 2016/17 '}

block content_block
	.container.container--default

		.photo-map#js-photo-map
			img(src="/img/photo-team.png", alt="").photo-map__img

			.photo-map__mark.js-drag-and-drop(v-bind:style="{ left: item.left + 'px', top: item.top + 'px' }" v-for="(item, index) in marks")
				button.photo-map__mark-action.js-toggle-mark
					+icon(11, 'photo-map__mark-icon')
				.photo-map__mark-content
					input.photo-map__mark-title(name="name" v-bind:value="item.title"  v-model="item.title" type="text" placeholder="Имя")
					input.photo-map__mark-text(v-bind:value="item.content" v-model="item.content" type="text"  placeholder="Амплуа")
					input.photo-map__mark-link(v-bind:value="item.link" v-model="item.link" type="text" placeholder="Ссылка")
					input.js-index(v-bind:value="index" type="hidden" )
					button.photo-map__mark-delete.btn.btn--blue(v-on:click='marks.splice(index, 1)') Удалить

			.f-container(style="margin-top: 20px" )
				button.btn.btn--blue.btn--radius( v-on:click='addMark') Добавить метку


			//- .photo-map__mark(style="left:300px; top:150px")
			//- 	button.photo-map__mark-action.js-toggle-mark
			//- 		+icon(11, 'photo-map__mark-icon')
			//- 	.photo-map__mark-content
			//- 		.photo-map__mark-title АЛЕВТИНА НЕМЦЕВА #1
			//- 		.photo-map__mark-text Блокирующая
			//- 		a(href="#").link-mit-arrow.photo-map__mark-link
			//- 			span Подробнее
			//- 			span.link-mit-arrow__icon
			//- 				+icon(16)