extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Архив'}

block content_block
	.page-arhiv
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Архив
			.title-default.title-default--white.title-default--mit-link
				span Архив
				.wrap-title-links
					.arhive-filter
						.filter-select
							.filter-select__header
								.filter-select__name Год:
								button.filter-select__current.js-show-filter(data-filter-type="year")
									.filter-select__current-value.js-current-value выбрать
									+icon(14, 'filter-select__current-icon' )

							.filter-select__list(data-list-type="year")
								button.filter-select__item.js-filter-value(data-filter="year") 2017
								button.filter-select__item.js-filter-value(data-filter="year") 2016
								button.filter-select__item.js-filter-value(data-filter="year") 2015
								button.filter-select__item.js-filter-value(data-filter="year") 2014
								button.filter-select__item.js-filter-value(data-filter="year") 2013


						.filter-select
							.filter-select__header
								.filter-select__name Месяц:
								button.filter-select__current.js-show-filter(data-filter-type="month")
									.filter-select__current-value.js-current-value выбрать
									+icon(14, 'filter-select__current-icon' )

							.filter-select__list(data-list-type="month")
								button.filter-select__item.js-filter-value(data-filter="month") январь
								button.filter-select__item.js-filter-value(data-filter="month") февраль
								button.filter-select__item.js-filter-value(data-filter="month") март
								button.filter-select__item.js-filter-value(data-filter="month") апрель
								button.filter-select__item.js-filter-value(data-filter="month") май
								button.filter-select__item.js-filter-value(data-filter="month") июнь
								button.filter-select__item.js-filter-value(data-filter="month") июль
								button.filter-select__item.js-filter-value(data-filter="month") август
								button.filter-select__item.js-filter-value(data-filter="month") сентябрь

			.wrap-content-lazy-load
				.grid-container

					-for(var i = 0; i < 9; i++){
						.news-item
							a(href="#").news-item__photo(style="background-image: url('/img/news-little.png')")
							.wrap-news-header
								.news-item__date 8 СЕНТЯБРЯ, 2017
								.news-item__location Минск
							a(href="#").news-item__title "Северянка" начинает игры на турнире в Белоруссии
							.news-item__description Сегодня в 17:00 МСК на "Чижовка-Арене" города Минска открывается международный турнир, посвящённый 950-летию столицы республики. В стартовом матче соревнования "Северянка" встречается со сборной Белоруссии.
					-}

				button.load-more
						span Загрузить еще
						+icon(14, 'icon-load-more')

				.b-pagination
					ul.pagination__list
						li.pagination__item.hide-media--sm
							+icon(17)
						li.pagination__item--active.pagination__item 
							a(href="#") 1
						li.pagination__item
							a(href="#") 2
						li.pagination__item
							a(href="#") 3
						li.pagination__item
							a(href="#") ...
						li.pagination__item
							a(href="#") 11
						li.pagination__item
							a(href="#") 12
						li.pagination__item
							a(href="#") 13
						li.pagination__item.hide-media--sm
							a(href="#") 
								+icon(18)

			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться

		

