extends layout/_base--custom

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Контакты'}

block content_block
	.page--contact
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Контакты

			
			.title-default.title-default--white
				span Контакты
			
			.wrap-info-item--flex
				.info-item
					.info-item__title Офис волейбольного клуба "Северянка"
					.info-item__content
						p 162600, г. Череповец, Спорткомплекс "Юбилейный",  ул. Ленина 125, каб. 2-20
						p Телефон/факс:
						a(href="#").phone-link  8 (8202) 57-58-59
						p Телефон для справок по приобретению билетов:
						a(href="#").phone-link  8 (8202) 58-66-80


				.info-item
					.info-item__title Игровой зал: СК "Юбилейный"
					.info-item__content
						table
							tr
								th Адрес зала: 
								th 162600, г. Череповец, ул. Ленина 125
							tr
								th Количество мест: 
								th 1300
							tr
								th Покрытие: 
								th тарафлекс/паркет
							tr
								th Размеры: 
								th 45х25 м
							tr
								th Высота до металлоконструкций:
								th 14,5 м 

			.contact-map
				img(src="/img/contact-map.png", alt="")

			.wrap-info-item--flex
				.info-item
					.info-item__title Волейбольный клуб "Северянка" (до 2014 г. - "Северсталь")
					.info-item__content
						p САНО (Спортивная Автономная Некоммерческая Организация) "Волейбольный Клуб "Северсталь""
						p Волейбольная команда "Северянка". Цвета игровой формы: синий и бело-зелёный.
						a(href="#")  Информация об уставной деятельности клуба


				.info-item
					.info-item__content
						.coaching-list.coaching-list--contact
					
							.coaching-list__item
								.coaching-list__name Пилипенко Захар Владимирович
								.coaching-list__position ГЛАВНЫЙ ТРЕНЕР
								a(href="#").coaching-list__email rodionovanu@mail.ru

							.coaching-list__item
								.coaching-list__name Самбурский Роман Владимирович
								.coaching-list__position СТАРШИЙ ТРЕНЕР
								a(href="#").coaching-list__email sambursky@mail.ru
							
							.coaching-list__item
								.coaching-list__name Самбурский Роман Владимирович
								.coaching-list__position СТАРШИЙ ТРЕНЕР
								a(href="#").coaching-list__email vuv63@mail.ru