extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Детали прошедшего матча'}

block content_block
	.page-detali-proshed
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная 
				a(href="/").breadcrumbs__item--link Матчи 
				span.breadcrumbs__item Детали прошедшего матча 


			.title-default.title-default--white
				span Детали прошедшего матча
			
		.container.container--info-match
			+card__big_proshed()

		.container
			.b-text-border--center В прошлом сезоне оба очных поединка соперников завершились минимальными победами ярославцев с одинаковым счётом 1:0. При этом, в Ханты-Мансийске хозяева льда, согласно официальной статистике, нанесли на семь бросков в створ больше, и тогда сухарь оформил Александр Судницин, а месяцем позже в Ярославле хоккеисты Югры попали в створ ворот Мурыгина менее 20 раз, и уже другой вратарь ярославцев записал в свой актив матч на ноль. Вообще, команды регулярно играют близкие по счёту матчи именно в Ханты-Мансийске - в четырёх из пяти предыдущих встреч победителя от проигравшего отделил один гол, и в двух случаях победа доставалась Югре. Всего же из 11 очных матчей в рамках КХЛ железнодорожники выиграли 8. Интересно, что все 11 встреч завершились в основное время.

			.title-default.title-default--white
				span Лидеры команд

		.f-container.f-container--detail-match

			+player-card--small()

			+player-card--small()
			
			.do-scroll
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

			.wrap-media-table--custom
				.b-table.table-white

					.table-container
						.table__info-team
							img(src="/img/severjanka.png", alt="").table__info-team-logo
							.wrap
								.table__info-team-name Северянка
								.table__info-team-location Череповец
						table.table--center

							thead
								tr
									th МЕСТО
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ЗАБИТЫХ МЯЧЕЙ

							tbody
								-for(var i=1; i<9; i++){
									tr
										th=i
										th.t-a-l.color КОРОВАЕВА АЛЕКСАНДРАV
										th 32
										th.color 20
								-}

			.wrap-media-table--custom
				.b-table.table-white

					.table-container
						.table__info-team
							img(src="/img/primor.png", alt="").table__info-team-logo
							.wrap
								.table__info-team-name Приморочка
								.table__info-team-location Приморский край
						table.table--center

							thead
								tr
									th МЕСТО
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ЗАБИТЫХ МЯЧЕЙ

							tbody
								-for(var i=1; i<9; i++){
									tr
										th=i
										th.t-a-l.color КОРОВАЕВА АЛЕКСАНДРАV
										th 32
										th.color 20
								-}

		.container
			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться


					