extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Детали предстоящего матча'}

block content_block
	.page-detali-predstojashego
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная 
				a(href="/").breadcrumbs__item--link Матчи 
				span.breadcrumbs__item Детали предстоящего матча


			.title-default.title-default--white
				span Детали предстоящего матча

		.container.container--info-match
			+card__big_predsto()

		.container
			.b-text-border--center В прошлом сезоне оба очных поединка соперников завершились минимальными победами ярославцев с одинаковым счётом 1:0. При этом, в Ханты-Мансийске хозяева льда, согласно официальной статистике, нанесли на семь бросков в створ больше, и тогда сухарь оформил Александр Судницин, а месяцем позже в Ярославле хоккеисты Югры попали в створ ворот Мурыгина менее 20 раз, и уже другой вратарь ярославцев записал в свой актив матч на ноль. Вообще, команды регулярно играют близкие по счёту матчи именно в Ханты-Мансийске - в четырёх из пяти предыдущих встреч победителя от проигравшего отделил один гол, и в двух случаях победа доставалась Югре. Всего же из 11 очных матчей в рамках КХЛ железнодорожники выиграли 8. Интересно, что все 11 встреч завершились в основное время.

			.title-default.title-default--white
				span Составы команд
			
			.do-scroll.show-media--md-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

		.f-container.f-container--detail-match
			
			.wrap-media-table--custom
				.b-table.table-white

						.table-container
							.table__info-team
								img(src="/img/severjanka.png", alt="").table__info-team-logo
								.wrap
									.table__info-team-name Северянка
									.table__info-team-location Череповец
							table.table--center

								thead
									tr
										th.t-a-l ИГРОК
										th N ИГРОКА
										th.t-a-l АМПЛУА

								tbody
									-for(var i=1; i<4; i++){
										tr
											th.t-a-l.color.w-1-3 КОРОВАЕВА АЛЕКСАНДРАV
											th=i
											th.t-a-l ДОИГРОВЩИК
									-}

									-for(var i=5; i<9; i++){
										tr
											th.t-a-l.color.w-1-3 СТАЛЬНАЯ АНАСТАСИЯ
											th=i
											th.t-a-l НАПАДАЮЩИЙ
									-}

			.wrap-media-table--custom
				.b-table.table-white

						.table-container
							.table__info-team
								img(src="/img/primor.png", alt="").table__info-team-logo
								.wrap
									.table__info-team-name Приморочка
									.table__info-team-location Приморский край
							table.table--center

								thead
									tr
										th.t-a-l.w-1-3 ИГРОК
										th N ИГРОКА
										th.t-a-l АМПЛУА

								tbody
									-for(var i=1; i<4; i++){
										tr
											th.t-a-l.color.w-1-3 КОРОВАЕВА АЛЕКСАНДРАV
											th=i
											th.t-a-l ДОИГРОВЩИК
									-}

									-for(var i=5; i<9; i++){
										tr
											th.t-a-l.color.w-1-3 СТАЛЬНАЯ АНАСТАСИЯ
											th=i
											th.t-a-l НАПАДАЮЩИЙ
									-}
		
		.container
			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться


				