extends layout/_base--custom

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Для скачивания'}

block content_block
	.page--files
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Для скачивания

			
			.title-default.title-default--white
				span Для скачивания
			
			.wrap-load-files
				-for(var i=0; i<3; i++){
					.load-files__item
						a(href="#" download style="background-image: url('/img/load-file-photo.png')").load-files__photo
						a(href="#" download).load-files__link
							+icon(26,'load-files__icon')
							span Скачать логотип клуба
					.load-files__item
						a(href="#" download style="background-image: url('/img/load-file-photo1.png')").load-files__photo
						a(href="#" download).load-files__link
							+icon(26,'load-files__icon')
							span Скачать фото команды
				-}