extends layout/_base--custom

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Городская федерация'}

block content_block
	.page--volejbolnyj-centr
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Городская федерация

			
			.title-default.title-default--white
				span Городская федерация
			
			.wrap-info-item--flex
				.info-item
					.info-item__title Череповецкая городская федерация волейбола
					.info-item__content
						p 162600, г. Череповец, ул. Ленина 125а, каб. 2-20
						p Телефон/факс:
						a(href="#").phone-link.info-item--mb  (8202) 57-58-59
						p Официальный публикатор материалов: 
						p раздел Федерация волейбола Череповца сайта 
							a(href="#") www.cherlvolley.ru

