extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'История клуба'}

block content_block
	.page--histiry
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item История клуба

			
			.title-default.title-default--white
				span История клуба
				
			.wrap-trener-items
				.trener-item
					.trener-item__photo(style="background-image: url('/img/trener.png')")
					.trener-item__info
						.trener-item__name ШЕВЦОВ ГЕОРГИЙ ЕГОРОВИЧ
						.trener-item__status УЧРЕДИТЕЛЬ
						.trener-item__description Президент клуба, депутат Законодательного Собрания Вологодской области
		.time-history
		
			.time-history__content
				.wrap-time-history-content.js-wrap-time-history-content
					.wrap-time-history.js-hide-media-history.hide-media-history
						-for(var i=2000; i<2019; i++){
							.time-history__col
								.time-history__year=i
								.time-history__event Основание женской волейбольной команды "Северсталь"- 8 октября 1999 г.
								.time-history__event Участие во 2ой лиге. Команда занимает 4-е место.
								.time-history__event Участие во 1ой лиге. Команда занимает 5-е место.

						-}
				button.load-more.js-toggle-media-history
					span Показать еще
					+icon(14, 'icon-load-more')

			.time-history__control
				.container
					.time-history__line.js-time-history__line
						button.time-history__btn-control.js-history-control
						-for(var i=2000; i<2019; i++){
							.time-history__line-item=i
						-}



		.container
			.title-default.title-default--white
				span Администрация клуба

			.coaching-list.coaching-list--border-item

				-for(var i=0; i <4; i++){
					.coaching-list__item
						.coaching-list__name Пилипенко Захар Владимирович
						.coaching-list__position ГЛАВНЫЙ ТРЕНЕР

					.coaching-list__item
						.coaching-list__name Самбурский Роман Владимирович
						.coaching-list__position СТАРШИЙ ТРЕНЕР
				-}
				.coaching-list__item
					.coaching-list__name Самбурский Роман Владимирович
					.coaching-list__position СТАРШИЙ ТРЕНЕР

		.bg-gray
			.container
				.section--video
					.wrap-frame
						iframe(width="100%" height="100%" src="https://www.youtube.com/embed/UWD3vgeSV6o" frameborder="0" allowfullscreen)
		
		.container
			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться



				