extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Home'}

block content_block	
	.page-home
		.wrap-b-nearest-games
			.b-nearest-games.bg-gray
				.f-container.container--nearest-games
					
					.nearest-games__title.bg-gray БЛИЖАЙШИЕ ИГРЫ

					.nearest-games__body
						.grid-container
							+card-match--small('grid-4')

							+card-match--small('grid-4')

							+card-match--small('grid-4')


					.nearest-games__header
						button.nearest-games__show.js-tooggle-nearest-games.circle__arrow
							+icon(19)
		.wrap-home-slider
			.home-slider.js-home-slider__container

				.home-slider__item.home-slider__item--first.active
					.home-slider__content(style="background-image: url('/img/news-big.png')")

						.wrap-home-slide-information
							.home-slider__content-header
								.home-slider__date 29 АВГУСТА, 2017
								.home-slider__city Китайский Тайбей
							a(href="#").home-slider__title Золото всемирной Универсиады приедет и в Череповец
							a(href="#").home-slider__link.btn.btn--blue.btn--radius Подробнее

					button.home-slider__control.js-home-slider-controll--next
						+icon(21)


				.home-slider__item
					.home-slider__content(style="background-image: url('/img/content-news.png')")
						.wrap-home-slide-information
							.home-slider__content-header
								.home-slider__date 8 СЕНТЯБРЯ, 2017
								.home-slider__city Минск
							a(href="#").home-slider__title "Северянка" начинает игры на турнире в Белоруссии
							a(href="#").home-slider__link.btn.btn--blue.btn--radius Подробнее

				.home-slider__item
					.home-slider__content(style="background-image: url('/img/fotogalery-test.png')")

						.wrap-home-slide-information
							.home-slider__content-header
								.home-slider__date 29 АВГУСТА, 2017
								.home-slider__city Китайский Тайбей
							a(href="#").home-slider__title Золото всемирной Универсиады приедет и в Череповец
							a(href="#").home-slider__link.btn.btn--blue.btn--radius Подробнее

				.home-slider__item
					.home-slider__content(style="background-image: url('/img/content-news.png')")

						.wrap-home-slide-information
							.home-slider__content-header
								.home-slider__date 8 СЕНТЯБРЯ, 2017
								.home-slider__city Минск
							a(href="#").home-slider__title "Северянка" начинает игры на турнире в Белоруссии
							a(href="#").home-slider__link.btn.btn--blue.btn--radius Подробнее

				.home-slider__item
					.home-slider__content(style="background-image: url('/img/fotogalery-test.png')")

						.wrap-home-slide-information
							.home-slider__content-header
								.home-slider__date 29 АВГУСТА, 2017
								.home-slider__city Китайский Тайбей
							a(href="#").home-slider__title Золото всемирной Универсиады приедет и в Череповец
							a(href="#").home-slider__link.btn.btn--blue.btn--radius Подробнее
			
			.home-slider__controls.js-home-slider__controls
				button.home-slider__control.home-slider__control--prev.js-home-slider-controll--prev
					+icon(21)
				button.home-slider__control.home-slider__control--next.js-home-slider-controll--next
					+icon(22)


		.container.container--matches-tabs
			.b-tabs--matches.js-balans-matches
				.matches-tabs
					.matches-tabs__header
						.matches-tabs__title
							span Матчи
						.matches-tabs__controls
							button.matches-tabs__control.active.js-select-tab(data-id-tab="matches-tabs-1", data-targer-tab=".js-tab-matches-home") СЕВЕРЯНКА
							button.matches-tabs__control.js-select-tab(data-id-tab="matches-tabs-2", data-targer-tab=".js-tab-matches-home") СЕВЕРЯНКА-2
							button.matches-tabs__control.js-select-tab(data-id-tab="matches-tabs-3", data-targer-tab=".js-tab-matches-home") СЕВЕРЯНКА-3
						.matches-tabs__link-calendar
							a(href="#").link-mit-arrow
								span Календарь матчей
								span.link-mit-arrow__icon
									+icon(16)
					-for(var j=1; j<4; j++){

							.wrap-matches-tabs__container.js-tab-matches-home(id='matches-tabs-'+j)
								.matches-tabs__container
									.matches-tabs__cards
										.wrap-card-match

											+card-match--small('grid-6 card-match--link')

											+card-match--small('grid-6 card-match--link')

											+card-match--small('grid-6 card-match--link')

											.card-match.card-match--small.grid-6.card-match--link
												.card-match__location.card-match__location--home  Дома
												.card-match__type Регулярный чемпионат
												.card-match__info
													.card-match__team
														.card-match__team-logo(style="background-image: url('/img/primor.png')")
														.card-match__team-name Приморочка
														.card-match__team-location Приморский край
													.card-match__date
														.card-match__date-day СЕГОДНЯ
														.card-match__date-time 20:00
													.card-match__team
														.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
														.card-match__team-name Северянка
														.card-match__team-location Череповец

										.matches-tabs__more
											a(href="#").link-mit-arrow
												span Показать больше
												span.link-mit-arrow__icon
													+icon(16)

										.b-subscribe
											.b-subscribe__title Будьте в курсе последних новостей:
											.b-subscribe__form
												input.input(type="email", name="email", placeholder="E-mail")
												button.b-subscribe__send.btn--blue Подписаться

									.matches-tabs__result
										.matches-tabs__last-result
											.card-match__location Последний результат
											.card-match.card-match--small.card-match--result
												.card-match__location Последний результат
												.card-match__type Чемпионат России 2016-2017. Женщины. Высшая лига "А"
												.card-match__info
													.card-match__team
														.card-match__team-logo(style="background-image: url('/img/primor.png')")
														.card-match__team-name Приморочка
														.card-match__team-location Приморский край
													.card-match__date
														.card-match__date-day 4 АВГУСТА
														.card-match__date-time 3:0
													.card-match__team
														.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
														.card-match__team-name Северянка
														.card-match__team-location Череповец

										.matches-tabs__turnir-table
											.table-gray.b-table
												.table-label Турнирная таблица

												.table-title Чемпионат России 2016-2017. Женщины. Высшая лига "А"

												.table-container
													table.table-color-first-row--blue

														thead
															tr
																th.t-a-l N
																th.t-a-l КОМАНДА
																th И
																th В
																th П
																th О

														tbody
															-for(var i=1; i<10; i++){
																tr
																	th.t-a-l=i
																	th.t-a-l.color ЛИПЕЦК-ИНДЕЗИТ
																	th 32
																	th 20
																	th 4
																	th.color 80
															-}

												a(href="#").table-link--footer
													span Вся таблица
													+icon(16)

									.b-subscribe.b-subscribe--media
										.b-subscribe__title Будьте в курсе последних новостей:
										.b-subscribe__form
											input.input(type="email", name="email", placeholder="E-mail")
											button.b-subscribe__send.btn--blue Подписаться

							
				
					-}


		.bg-gray
			.f-container.f-container--default.contents-mit-tiile--home
				.content-mit-tiile
					.title-default.title-default--gray
						span Лучшие бомбардиры

					.media-table
						.b-table.table-white

							.table-container
								table.table--center

									thead
										tr
											th МЕСТО
											th.t-a-l.t-a-c--media ИГРОК
											th.hide-media--md N ИГРОКА
											th
												span.hide-media--md ЗАБИТЫХ МЯЧЕЙ
												span.show-media--md(style="text-align: center; font-weight: bold") МЯЧЕЙ

									tbody
										-for(var i=1; i<9; i++){
											tr
												th=i
												th.t-a-l.color НЕМЦЕВА АЛЕВТИНА
												th.hide-media--md 32
												th.color 20
										-}

				.content-mit-tiile
					.title-default.title-default--gray
						span Лучший нападающий


					+player-card--small()

				.content-mit-tiile
					.title-default.title-default--gray
						span Лучший блокирующий


					+player-card--small()


				.content-mit-tiile
					.title-default.title-default--gray
						span Лучший подающий


					+player-card--small()

		.container.container--youtube-slider
			.title-default.title-default--white.title-default--mit-link
				span Последние видео
				a(href="#").link-mit-icon.hide-media--md
					+icon(6, 'icon-youtube')
					span Смотреть на Youtube

			.b-slider.slider--youtube.js-slider--youtube
				-for(var i=0; i < 2; i++){
					.b-slider__item.b-slider__item--youtube
						.container-video
							.video--big
								iframe(width="100%" height="100%" src="https://www.youtube.com/embed/bXwz9m36q_8" frameborder="0" allowfullscreen)
							.wrap-small-video
								.video--small
									iframe(width="100%" height="100%" src="https://www.youtube.com/embed/UWD3vgeSV6o" frameborder="0" allowfullscreen)
								.video--small
									iframe(width="100%" height="100%" src="https://www.youtube.com/embed/bXwz9m36q_8" frameborder="0" allowfullscreen)
								.video--small
									iframe(width="100%" height="100%" src="https://www.youtube.com/embed/UWD3vgeSV6o" frameborder="0" allowfullscreen)
								.video--small
									iframe(width="100%" height="100%" src="https://www.youtube.com/embed/bXwz9m36q_8" frameborder="0" allowfullscreen)
				-}

			a(href="#").link-mit-icon.show-media--md
				+icon(6, 'icon-youtube')
				span Смотреть на Youtube





