extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Прошедшие матчи'}

block content_block
	.page-calendar
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная 
				a(href="/").breadcrumbs__item--link Матчи 
				span.breadcrumbs__item Северянка 


			.title-default.title-default--white.title-default--mit-link
				span Матчи команды "Северянка"
				.wrap-title-links.links-mathes-info
					a(href="#").title-links__item Текущие и будущие
					a(href="#").title-links__item Прошедшие
					a(href="#").title-links__item.link-mit-icon.active
						+icon(7)
						span Календарь матчей
		
			.do-scroll
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| каденда

			.wrap-media-calendar
				.calendar
					.calendar__controls
						button.calendar__control.calendar__prev.js-prev-banner(data-slider="calendare_slider")
							+icon(15)

						button.calendar__control.calendar__next.js-next-banner(data-slider="calendare_slider")
							+icon(16)
					.calendar-container.js-calendare-slider
							- for(var j=0; j<6; j++ ){
								.wrap-calendar__months
									.calendar__header
										.calendar__months Сетнябрь
											
										.calendar__days
											.calendar__day ПН
											.calendar__day ВТ
											.calendar__day СР
											.calendar__day ЧТ
											.calendar__day ПТ
											.calendar__day СБ
											.calendar__day ВС

									.calendar__body

										- for(var i=0; i<6; i++ ){
											.calendar__item.match--house
												.calendar__item-day=i
												a(href="#").link-mit-arrow
													span Детали
													span.link-mit-arrow__icon
														+icon(16)
												.calendar__item__info
													.calendar__item-team СЕВЕРЯНКА
													.calendar__item-result 3:5
													.calendar__item-team ПРИМОРОЧКА
										-}

										- for(var i=6; i<12; i++ ){
											.calendar__item.match--exit
												.calendar__item-day=i
												a(href="#").link-mit-arrow
													span Детали
													span.link-mit-arrow__icon
														+icon(16)
												.calendar__item__info
													.calendar__item-team СЕВЕРЯНКА
													.calendar__item-result 3:5
													.calendar__item-team ПРИМОРОЧКА
										-}

										- for(var i=13; i<19; i++ ){
											.calendar__item.match--house.match--will-be
												.calendar__item-day=i
												a(href="#").link-mit-arrow
													span Детали
													span.link-mit-arrow__icon
														+icon(16)
												.calendar__item__info
													.calendar__item-time 20:00
													.calendar__item-team СЕВЕРЯНКА
													.calendar__item-vs VS
													.calendar__item-team ПРИМОРОЧКА
										-}

										- for(var i=20; i<26; i++ ){
											.calendar__item.match--exit.match--will-be
												.calendar__item-day=i
												a(href="#").link-mit-arrow
													span Детали
													span.link-mit-arrow__icon
														+icon(16)
												.calendar__item__info
													.calendar__item-time 20:00
													.calendar__item-team СЕВЕРЯНКА
													.calendar__item-vs VS
													.calendar__item-team ПРИМОРОЧКА
										-}

										- for(var i=27; i<31; i++ ){
											.calendar__item
												.calendar__item-day=i
										-}
							-}




