extends layout/_base--custom

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Ссылки'}

block content_block
	.page--volejbolnyj-centr
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Ссылки

			
			.title-default.title-default--white
				span Ссылки
			
			.wrap-links
				-for(var i=0; i<3; i++){
					.links-item
						.links-item__title Федерации волейбола
						.links-item__content
							a(href="#") Международная федерация волейбола FIVB
							a(href="#") Всероссийская федерация волейбола ВФВ
							a(href="#") Европейская конфедерация волейбола CEV
							a(href="#") Северо-Западная волейбольная ассоциация

					.links-item
						.links-item__title Разделы СМИ, посвящённые волейболу
						.links-item__content
							a(href="#") Чемпионат.com
							a(href="#") Sports.ru
							a(href="#") Sportbox
							a(href="#") Спорт-Экспресс
							a(href="#") Липецкая спортивная газета
							a(href="#") Тюменская арена
				- }
				.links-item
					.links-item__title Разделы СМИ, посвящённые волейболу
					.links-item__content
						a(href="#") Чемпионат.com
						a(href="#") Sports.ru
						a(href="#") Sportbox
						a(href="#") Спорт-Экспресс
						a(href="#") Липецкая спортивная газета
						a(href="#") Тюменская арена
