extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Список новостей'}

block content_block
	.page-news-list
		.container.container--news-list
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Новости клуба

			.title-default.title-default--white
				span Новости клуба

			
			.grid-container
				.news-item.news-item--big(style="background-image: url('/img/news-big.png')")
					.wrap-news-header
						.news-item__date 29 АВГУСТА, 2017
						.news-item__location Китайский Тайбей
					a(href="#").news-item__title Золото всемирной Универсиады приедет и в Череповец

				-for(var i = 0; i < 10; i++){
					.news-item
						a(href="#" style="background-image: url('/img/news-little.png')").news-item__photo
						.wrap-news-header
							.news-item__date 8 СЕНТЯБРЯ, 2017
							.news-item__location Минск
						a(href="#").news-item__title "Северянка" начинает игры на турнире в Белоруссии
						.news-item__description Сегодня в 17:00 МСК на "Чижовка-Арене" города Минска открывается международный турнир, посвящённый 950-летию столицы республики. В стартовом матче соревнования "Северянка" встречается со сборной Белоруссии.
				-}

			button.load-more
				span Загрузить еще
				+icon(14, 'icon-load-more')

			.b-pagination
				ul.pagination__list
					li.pagination__item.hide-media--sm
						+icon(17)
					li.pagination__item--active.pagination__item 
						a(href="#") 1
					li.pagination__item
						a(href="#") 2
					li.pagination__item
						a(href="#") 3
					li.pagination__item
						a(href="#") ...
					li.pagination__item
						a(href="#") 11
					li.pagination__item
						a(href="#") 12
					li.pagination__item
						a(href="#") 13
					li.pagination__item.hide-media--sm
						a(href="#") 
							+icon(18)

			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться


		

		


