extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'"Северянка" начинает игры на турнире в Белоруссии.'}

block content_block
	.page-news-current
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				a(href="#").breadcrumbs__item--link Новости
				span.breadcrumbs__item "Северянка" начинает игры на турнире в Белоруссии.

		.f-container.f-container--current-news
			.current-news
				.current-news__header
					.current-news__date 8 СЕНТЯБРЯ, 2017
					.current-news__location Минск
				.current-news__title "Северянка" начинает игры на турнире в Белоруссии.
				.current-news__content
					img(src="/img/content-news.png", alt="IMG")
					p Сегодня в 17:00 МСК на "Чижовка-Арене" города Минска открывается международный турнир, посвящённый 950-летию столицы республики. В стартовом матче соревнования "Северянка" встречается со сборной Белоруссии. Во второй игре за лидерство поспорят чемпион Белоруссии "Минчанка" и национальная сборная Венгрии. Сборные участвуют в турнире в рамках подготовки к чемпионату Европы, который пройдёт в конце сентября в Грузии и Азербайджане.
					img(src="/img/content-news.png", alt="IMG")
					p Сегодня в 17:00 МСК на "Чижовка-Арене" города Минска открывается международный турнир, посвящённый 950-летию столицы республики. В стартовом матче соревнования "Северянка" встречается со сборной Белоруссии. Во второй игре за лидерство поспорят чемпион Белоруссии "Минчанка" и национальная сборная Венгрии. Сборные участвуют в турнире в рамках подготовки к чемпионату Европы, который пройдёт в конце сентября в Грузии и Азербайджане.
					p Качество интернет-соединения не позволяет нам организовать собственную видеотрансляцию матчей "Северянки", однако в технических перерывах мы будем сообщать счёт в нашей группе во "ВКонтакт
				.current-news__footer
					.current-news__social
						.current-news__social-title ПОДЕЛИТЬСЯ

						.share__item.share__item--vk
							bitton.share__btn
								+icon(2 ,'share__icon')
								.share__title Вконтакте
							.share__counter 1

						.share__item.share__item--facebook
							bitton.share__btn
								+icon(3 ,'share__icon')
								.share__title Facebook
							.share__counter 1

						.share__item.share__item--twetter
							bitton.share__btn
								+icon(4 ,'share__icon')
								.share__title Twetter
							.share__counter 1

					.b-subscribe.hide-media--lg
						.b-subscribe__title Будьте в курсе последних новостей:
						.b-subscribe__form
							input.input(type="email", name="email", placeholder="E-mail")
							button.b-subscribe__send.btn--blue Подписаться

			.sidebar-news
				.sidebar-news__title ДРУГИЕ НОВОСТИ

				.news-item.news-item--sidebar
					a(href="#" style="background-image: url('/img/news-little.png')").news-item__photo
					.wrap-news-header
						.news-item__date 8 СЕНТЯБРЯ, 2017
						.news-item__location Минск
					a(href="#").news-item__title "Северянка" начинает игры на турнире в Белоруссии

				.news-item.news-item--sidebar
					a(href="#" style="background-image: url('/img/news-little.png')").news-item__photo
					.wrap-news-header
						.news-item__date 8 СЕНТЯБРЯ, 2017
						.news-item__location Минск
					a(href="#").news-item__title "Северянка" начинает игры на турнире в Белоруссии

				.news-item.news-item--sidebar
					a(href="#" style="background-image: url('/img/news-little.png')").news-item__photo
					.wrap-news-header
						.news-item__date 8 СЕНТЯБРЯ, 2017
						.news-item__location Минск
					a(href="#").news-item__title "Северянка" начинает игры на турнире в Белоруссии

			.b-subscribe.show-media--lg-flex(style="display: none")
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться
			

		

		

