extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Страница тренера'}

block content_block
	.page-gamer
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная 
				a(href="/").breadcrumbs__item--link Команды  
				span.breadcrumbs__item Северянка

			.player-info
				a(href="#").link-back
					+icon(15)
					span Вернуться к команде
				.player-info__header
					.player-info__photo(style="background-image: url('/img/defaul-photo.png')")
					.player-info__content.trener
						.player-info__name
							span ЗАХАР ПИЛИПЕНКО
						.player-info__team СЕВЕРЯНКА-2
						.player-info__status
							.player-info__status-type Главный тренер
							.player-info__status-league Череповец – высшая лига "Б"

					.player-info__table
						.player-info__table-row

							.player-info__table-cell
								.player-info__table-title ДАТА РОЖДЕНИЯ
								.player-info__table-content 27.09.1989 (28 лет)

							.player-info__table-cell
								.player-info__table-title ГРАЖДАНСТВО
								.player-info__table-content Россия

						.player-info__table-row
							.player-info__table-cell
								.player-info__table-title ЗВАНИЕ И СПОРТИВНОЕ ЗВАНИЕ
								.player-info__table-content ЗТР (заслуженный тренер России), МС СССР (мастер спорта СССР)

							.player-info__table-cell
								.player-info__table-title РОСТ
								.player-info__table-content 187 см


						.player-info__table-row
							.player-info__table-cell
								.player-info__table-title  РОДНОЙ ГОРОД
								.player-info__table-content Череповец

				.title-default.title-default--white
					span Достижения игрока

				.competition
					-for(var i=0; i<3; i++){
						.competition__item.competition__item--kubok
							+icon(23, 'competition__icon kubok')
							.competition__date 2011
							.competition__title Чемпион России

						.competition__item.competition__item--medal
							+icon(24, 'competition__icon medal')
							.competition__date 2011
							.competition__title Чемпион России
					-}

				.progress.progress--achievements.progress--slider
					.progress__controls
						button.progress__control.progress__control-prev.js-prev-banner(data-slider="progress_achievements")
							+icon(17)
						button.progress__control.progress__control-next.js-next-banner(data-slider="progress_achievements")
							+icon(18)
					.wrap-progress__slider
						.progress__slider.js-progress__slider--achievements(data-slider="progress_achievements")
							-for(i=0; i<10; i++){
								.progress__item
									.progress__circle
									.progress__date 2017
									.progress__title Лучший нападающий года
							-}

		.bg-gray
			.container
				.list-information.list-information--player-info

					.list-information__item 
						.list-information__title МЕСТО НАЧАЛА ЗАНЯТИЙ ВОЛЕЙБОЛОМ
						.list-information__content "ИРТЫШ-КАЗХРОМ", КАЗАХСТАН – СУПЕРЛИГА

					.list-information__item 
						.list-information__title ПЕРВЫЙ ТРЕНЕР
						.list-information__content ЗАХАР ПИЛИПЕНКО

					.list-information__item 
						.list-information__title ПРОФЕССИОНАЛЬНЫЙ ДЕБЮТ 
						.list-information__content "ИРТЫШ-КАЗХРОМ", КАЗАХСТАН, 2005 ГОД

					.list-information__item 
						.list-information__title САМОЕ ВЫСОКОЕ ДОСТИЖЕНИЕ В ВОЛЕЙБОЛЕ
						.list-information__content ЛУЧШИЙ НАПАДАЮЩИЙ ГОДА. "ИРТЫШ-КАЗХРОМ", КАЗАХСТАН – СУПЕРЛИГА

		.container
			.title-default.title-default--white
				span Достижения игрока

			.progress.progress--career
				.progress__controls
					button.progress__control.progress__control-prev.js-prev-banner(data-slider="progress_career")
						+icon(17)
					button.progress__control.progress__control-next.js-next-banner(data-slider="progress_career")
						+icon(18)
				.wrap-progress__slider
					.progress__slider.js-progress__slider--career(data-slider="progress_career")
						-for(i=0; i<4; i++){
							.progress__item
								.progress__circle
								.progress__date 2017
								.progress__title Лучший нападающий года
						-}

			.b-text-border--blue В прошлом сезоне оба очных поединка соперников завершились минимальными победами ярославцев с одинаковым счётом 1:0. При этом, в Ханты-Мансийске хозяева льда, согласно официальной статистике, нанесли на семь бросков в створ больше, и тогда сухарь оформил Александр Судницин, а месяцем позже в Ярославле хоккеисты Югры попали в створ ворот Мурыгина менее 20 раз, и уже другой вратарь ярославцев записал в свой актив матч на ноль. Вообще, команды регулярно играют близкие по счёту матчи именно в Ханты-Мансийске - в четырёх из пяти предыдущих встреч победителя от проигравшего отделил один гол, и в двух случаях победа доставалась Югре. Всего же из 11 очных матчей в рамках КХЛ железнодорожники выиграли 8. Интересно, что все 11 встреч завершились в основное время.


			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться


