extends layout/_base--custom

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Результаты поска'}

block content_block
	.page--search
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Результаты поска

			form.search-form--page
				input.search-form__input(type="text" placeholder="Поисковая строка" name='query')
				button.search-form__btn
					+icon(10)

			.title-default.title-default--white
				span Результаты поска

			.wrap-search-result
				-for(var i=0; i<4; i++){
					.search-result__item
						a(href="#").search-result__title 
							span.overlap "Северянка" 
							| начинает игры на турнире в Белоруссии
						.search-result__content Сегодня в 17:00 МСК на "Чижовка-Арене" города Минска открывается международный турнир, посвящённый 950-летию 
							span.overlap столицы 
							| республики. В стартовом матче соревнования "Северянка" встречается со сборной Белоруссии.
				-}
			
			