extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Чемпионат России. Сезон 2016/17'}

block content_block
	.page-sorevnovanija
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная 
				a(href="/").breadcrumbs__item--link Соревнования 
				span.breadcrumbs__item Чемпионат Росии


			.title-default.title-default--white.title-default--mit-link
				span Чемпионат России. Сезон 2016/17 
				.wrap-title-links
					a(href="#").title-links__item.title-links__item--blue
						+icon(15)
					.title-links__item.title-links__item--blue Сезон 2016/2017
						
					a(href="#").title-links__item.title-links__item--blue
						+icon(16)

			.table-description
				.table-description__title Высшая лига А. Женщины (турнирная таблица)
				.table-description__content
					table
						tbody
							tr
								th.table-description__item 
									span.value И
									span.delmiter -
									span.description Игры
								th.table-description__item 
									span.value П
									span.delmiter -
									span.description Поражения
								
							tr
								th.table-description__item 
									span.value В
									span.delmiter -
									span.description Выигрыши
								th.table-description__item 
									span.value О
									span.delmiter -
									span.description Очки

			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

			.wrap-media-table
				.b-table.table-white.table--tournament

					.table-container
						table.table--center
							thead
								tr
									th.t-a-l КОМАНДА
									th N
									-for(var c=1; c< 10; c++){
										th.color-gray=c
									-}
									th И
									th В
									th П
									th О
									th ПАР

							tbody
								-for(var i=1; i<10; i++){
									tr
										th.t-a-l 
											span.color-dark СЕВЕРЯНКА
											br
											| ЧЕРЕПОВЕЦ
										th=i
										-for(var j=1; j< 4; j++){
											th.color-gray.th-is-empty
												| 3:0 
												br
												| 3:0
												br
												| 3:1
												br
												| 3:2
												br
										-}
										th.color-gray.th-is-empty
										-for(var j=1; j< 6; j++){
											th.color-gray.th-is-empty
												| 3:0 
												br
												| 3:0
												br
												| 3:1
												br
												| 3:2
												br
										-}
										th 32
										th.color-dark 22
										th 32
										th 28
										th 88:38
								-}

			.title-default.title-default--white
				span Календарь турнира

			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ
					
			.wrap-media-table
				.b-table.table-white.table--tournament.table--bg-row

					.table-container
						table.table--center
							thead
								tr
									th.t-a-l ДАТА
									th ТУР
									th КОМАНДЫ
									th.t-a-l РЕЗУЛЬТАТЫ

							tbody
								-for(var i=1; i<5; i++){
									tr.tr--bg-gray
										th.t-a-l.color-dark 
											| 29.10.16
											br
											| 30.10.16
										th 1-Й ТУР
										th
											.wrap-table__teams
												
												.table__team
													.table__team__logo(style="background-image: url('/img/severjanka.png')")
													.table__team__info
														.table__team__name СЕВЕРЯНКА
														.table__team__city ЧЕРЕПОВЕЦ
												.table__team__vs VS
												.table__team
													.table__team__logo(style="background-image: url('/img/primor.png')")
													.table__team__info
														.table__team__name ПРИМОРОЧКА
														.table__team__city ПРИМОРСКИЙ КРАЙ
										th.t-a-l 
											span.color-dark 3:1 
											| (25:18, 25:22, 15:25, 25:15)
											br
											span.color-dark 2:3 
											| (25:27, 25:22, 25:17, 21:25, 9:15)
								-}

								-for(var i=1; i<5; i++){
									tr
										th.t-a-l.color-dark 
											| 29.10.16
											br
											| 30.10.16
										th 1-Й ТУР
										th
											.wrap-table__teams
												.table__team
													.table__team__logo(style="background-image: url('/img/primor.png')")
													.table__team__info
														.table__team__name ПРИМОРОЧКА
														.table__team__city ПРИМОРСКИЙ КРАЙ
												.table__team__vs VS
												.table__team
													.table__team__logo(style="background-image: url('/img/severjanka.png')")
													.table__team__info
														.table__team__name СЕВЕРЯНКА
														.table__team__city ЧЕРЕПОВЕЦ
										th.t-a-l 
											span.color-dark 3:1 
											| (25:18, 25:22, 15:25, 25:15)
											br
											span.color-dark 2:3 
											| (25:27, 25:22, 25:17, 21:25, 9:15)
								-}
								-for(var i=1; i<5; i++){
									tr.tr--bg-gray
										th.t-a-l.color-dark 
											| 29.10.16
											br
											| 30.10.16
										th 1-Й ТУР
										th
											.wrap-table__teams
												
												.table__team
													.table__team__logo(style="background-image: url('/img/severjanka.png')")
													.table__team__info
														.table__team__name СЕВЕРЯНКА
														.table__team__city ЧЕРЕПОВЕЦ
												.table__team__vs VS
												.table__team
													.table__team__logo(style="background-image: url('/img/primor.png')")
													.table__team__info
														.table__team__name ПРИМОРОЧКА
														.table__team__city ПРИМОРСКИЙ КРАЙ
										th.t-a-l 
											span.color-dark 3:1 
											| (25:18, 25:22, 15:25, 25:15)
											br
											span.color-dark 2:3 
											| (25:27, 25:22, 25:17, 21:25, 9:15)
								-}
								-for(var i=1; i<5; i++){
									tr
										th.t-a-l.color-dark 
											| 29.10.16
											br
											| 30.10.16
										th 1-Й ТУР
										th
											.wrap-table__teams
												.table__team
													.table__team__logo(style="background-image: url('/img/primor.png')")
													.table__team__info
														.table__team__name ПРИМОРОЧКА
														.table__team__city ПРИМОРСКИЙ КРАЙ
												.table__team__vs VS
												.table__team
													.table__team__logo(style="background-image: url('/img/severjanka.png')")
													.table__team__info
														.table__team__name СЕВЕРЯНКА
														.table__team__city ЧЕРЕПОВЕЦ
										th.t-a-l 
											span.color-dark 3:1 
											| (25:18, 25:22, 15:25, 25:15)
											br
											span.color-dark 2:3 
											| (25:27, 25:22, 25:17, 21:25, 9:15)
								-}
			
			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться
				