extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Статистика сезона 2015/16'}

block content_block
	.page-statistik
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная 
				a(href="/").breadcrumbs__item--link Статистика 
				span.breadcrumbs__item Статистика сезона 2015/16


			.title-default.title-default--white.title-default--mit-link
				span Статистика сезона 2015/16
				.wrap-title-links
					a(href="#").title-links__item.title-links__item--blue
						+icon(15)
					.title-links__item.title-links__item--blue Сезон 2016/2017
						
					a(href="#").title-links__item.title-links__item--blue
						+icon(16)

			.b-text.b-text--toggle.js-block--text-toggle
				p В сезоне чемпионата России 2015-2016 гг. команда "Северянка" сыграла 28 игр -101-у партию. Было выиграно 25 матчей и проиграно 3. За сезон 78 партий выиграно и 23 партии проиграно.
				p В атаке, на блоке и с подачи "Северянка" выиграла 1 903 очка, из них 930 - брейковых. Ещё 510 очков было выиграно на невынужденных ошибках соперника. Проиграно 1 953 мяча, из них 549 - собственные невынужденные ошибки. Было подано 2 387 подач, из них 217 очковых - 9,09%, ошибки на подаче 224 - это 9,38%. Команда атаковала 3 123 раза и этим элементом набрала 1 347 очков - эффективность нападения составила 43,13%, потери мяча в атаке составили 546 очков - это 17,48% от всех атак. Было заблокировано 340 атак соперника, ошибки при блокировании - 523, что составило 41,54% от всех касаний мяча на блоке. Позитивный приём подачи таков: из 1 794 подач соперника были позитивно приняты 1 090 - 60,76%, допущено 122 ошибки приёма подачи – 6,80%. В защите сыграно 1 465 мячей, 787 мячей спасено с последующей доигровкой, т.е. эффективность защиты составила 53,72%, допущено 540 ошибок в защите - 36,86%.
				span.b-text__hidden-part(data-text="ststistic-text")
					p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quos dicta possimus officiis in eius, consequatur laborum nostrum ducimus molestiae. Harum deleniti molestias cumque soluta temporibus a voluptatibus nostrum ducimus quae, aspernatur eaque odio sequi, praesentium et. Facere modi adipisci aliquam, veritatis praesentium ducimus ipsa deserunt earum reiciendis, eum nam aperiam asperiores neque, voluptates culpa minus omnis facilis eaque fugiat ratione ex repellat incidunt sunt. Quia perferendis quam provident, explicabo ipsa id ipsum necessitatibus cupiditate laboriosam atque reiciendis cum esse a, aspernatur officiis officia possimus tempora! Libero ab assumenda asperiores est aliquam hic, natus atque laboriosam suscipit rem cupiditate distinctio ipsa, aperiam officia et doloremque eius dolorem, quod numquam. Ad sint, aliquam nihil dolorum, doloremque cum voluptates quibusdam aut est.
				button.btn-text-show.js-text-toggle--btn(data-togglle-text="ststistic-text") 
					span.js-replace-text(data-text-default="Читать описание полностью" data-replace-text='Свернуть') Читать описание полностью
					+icon(14)
			
			
			.comparison-seasons
				.title-not-border Сравнение игровых показателей двух сезонов
				.do-scroll.show-media--xl-flex
					+icon(28, 'do-scroll__icon')
					.do-scroll__title ПРОКРУТИТЕ
						br
						| ТАБЛИЦУ
				.wrap-media-table
					.comparison-seasons__years.media-table__content-full
						.comparison-seasons__year СЕЗОН 2015/16
						.comparison-seasons__year СЕЗОН 2016/17

					.b-table.table-white.table--tournament.table--bg-row

						.table-container
							table.table--center
								thead
									tr
										th.t-a-l ИГРОВЫЕ ПАРАМЕТРЫ КОМАНДЫ
										th ВСЕГО
										th СРЕД. ЗА МАТЧ
										th СРЕД. ЗА СЕТ
										th.color-red ВСЕГО
										th.color-red СРЕД. ЗА МАТЧ
										th.color-red СРЕД. ЗА СЕТ

								tbody
									-for(var i=1; i<3; i++){
										tr
											th.t-a-l.color СЫГРАНО ИГР
											th 28
											th 
											th
											th 76
											th
											th
									-}
									-for(var i=1; i<3; i++){
										tr
											th.t-a-l.color ПРОИГРАНО ПАРТИЙ
											th 23
											th 
											th
											th 25
											th
											th
									-}
									-for(var i=1; i<3; i++){
										tr.tr--bg-gray
											th.t-a-l.color НАБРАНО ОЧКОВ СВОИМИ ДЕЙСТВИЯМИ
											th 1 109
											th 1 109
											th 1 109
											th 1 109
											th 1 109
											th 1 109
									-}
									-for(var i=1; i<3; i++){
										tr.tr--bg-gray
											th.t-a-l.color СОБСТВЕННЫЕ НЕВЫНУЖДЕННЫЕ ОШИБКИ
											th 549
											th 549
											th 549
											th 549
											th 549
											th 549
									-}
									-for(var i=1; i<3; i++){
										tr
											th.t-a-l.color СЫГРАНО ИГР
											th 28
											th 
											th
											th 76
											th
											th
									-}
									-for(var i=1; i<3; i++){
										tr.tr--bg-gray
											th.t-a-l.color НАБРАНО ОЧКОВ СВОИМИ ДЕЙСТВИЯМИ
											th 1 109
											th 1 109
											th 1 109
											th 1 109
											th 1 109
											th 1 109
									-}
									-for(var i=1; i<3; i++){
										tr.tr--bg-gray
											th.t-a-l.color СОБСТВЕННЫЕ НЕВЫНУЖДЕННЫЕ ОШИБКИ
											th 549
											th 549
											th 549
											th 549
											th 549
											th 549
									-}
									-for(var i=1; i<3; i++){
										tr
											th.t-a-l.color СЫГРАНО ИГР
											th 28
											th 
											th
											th 76
											th
											th
									-}

			.title-not-border Рейтинг бомбардиров за сыгранный сет
			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ
			.wrap-media-table
				.b-table.table-white
					.table-container
						table.table--center.table--color-element
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ОЧКИ
									th ПОДАЧИ
									th АТАКИ
									th БЛОКИ
									th СЕТЫ
									th ОЧКИ/СЕТЫ

							tbody
								-for(var i=1; i<3; i++){
									tr
										th.t-a-l.color НЕМЦЕВА АЛЕВТИНА
										th=i
										th 28
										th 32
										th 56
										th 34
										th 36
										th 10
								-}

								tr
									th.t-a-l.color КОРОВАЕВА АЛЕКСАНДРА
									th=i
									th 28
									th 32
									th.th--blue 56
									th 34
									th 36
									th 10

								-for(var i=1; i<3; i++){
									tr
										th.t-a-l.color КОРОВАЕВА АЛЕКСАНДРА
										th=i
										th 28
										th 32
										th 56
										th 34
										th 36
										th 10
								-}

								tr
									th.t-a-l.color НОВИКОВА ЕКАТЕРИНА
									th=i
									th 28
									th 32
									th 56
									th 34
									th.th--blue 36
										th 10


			.title-not-border Рейтинг бомбардиров по абсолютным показателям
			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ
			.wrap-media-table
				.b-table.table-white
					.table-container
						table.table--center.table--color-element
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ОЧКИ
									th ПОДАЧИ
									th АТАКИ
									th БЛОКИ

							tbody
								-for(var i=1; i<12; i++){
									tr
										th.t-a-l.color(style="width:20%") НЕМЦЕВА АЛЕВТИНА
										th=i
										th 28
										th 32
										th 56
										th 34
								-}
								tr
									th.th--blue.t-a-l.color(style="width:20%") ВСЕГО
									th.th--blue
									th.th--blue 101
									th.th--blue 101
									th.th--blue 101
									th.th--blue 101

			.title-not-border Лучшие нападающие
			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ
			.wrap-media-table
				.b-table.table-white
					.table-container
						table.table--center
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ПОПЫТОК
									th ОШИБОК
									th ОЧКОВ
									th %

							tbody
								-for(var i=1; i<12; i++){
									tr
										th.t-a-l.color(style="width:20%") НЕМЦЕВА АЛЕВТИНА
										th=i
										th 28
										th 32
										th 56
										th 34
								-}
						.table__footer-text.table__last-content(style="max-width: 760px; padding-left: 10px")  *РЕЙТИНГ ВЫСТРОЕН ПО ЭФФЕКТИВНОСТИ НАПАДЕНИЯ ИГРОКА, КОТОРОЕ РАССЧИТЫВАЕТСЯ ПУТЁМ ДЕЛЕНИЯ ПРИНЕСЁННЫХ ИМ ОЧКОВ НА КОЛИЧЕСТВО ПОПЫТОК ИСПОЛНЕНИЯ НАПАДАЮЩЕГО УДАРА И ВЫРАЖАЕТСЯ В %.

			.title-not-border Лучшие подающие

			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

			.wrap-media-table
				.b-table.table-white
					.table-container
						table.table--center
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ПОПЫТОК
									th ОШИБОК
									th ОЧКОВ
									th ОЧК/ПАРТ

							tbody
								-for(var i=1; i<12; i++){
									tr
										th.t-a-l.color(style="width:20%") КОРОВАЕВА АЛЕКСАНДРА
										th=i
										th 28
										th 32
										th 56
										th 34
								-}


			.title-not-border Лучшие блокирующие

			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

			.wrap-media-table
				.b-table.table-white
					.table-container
						table.table--center
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ПОПЫТОК
									th ОШИБОК
									th ОЧКОВ
									th ОЧК/ПАРТ

							tbody
								-for(var i=1; i<12; i++){
									tr
										th.t-a-l.color(style="width:20%") НОВИКОВА ЕКАТЕРИНА
										th=i
										th 28
										th 32
										th 56
										th 34
								-}


			.title-not-border Лучшие защитники

			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

			.wrap-media-table
				.b-table.table-white
					.table-container
						table.table--center
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ПОПЫТОК
									th ОШИБОК
									th ОТЛ
									th ОЧК/ПАРТ

							tbody
								-for(var i=1; i<12; i++){
									tr
										th.t-a-l.color(style="width:20%") НЕМЦЕВА АЛЕВТИНА
										th=i
										th 28
										th 32
										th 56
										th 34
								-}
						.table__footer-text.table__last-content(style="max-width: 760px; padding-left: 10px")  *ПОД ПОДНЯТЫМ В ЗАЩИТЕ МЯЧОМ ПОНИМАЕТСЯ ТАКОЙ, ПОСЛЕ КОТОРОГО ЗАЩИЩАЮЩАЯСЯ КОМАНДА СПОСОБНА ОРГАНИЗОВАТЬ ЛЮБЫЕ ОТВЕТНЫЕ АТАКУЮЩИЕ ДЕЙСТВИЯ.


			.title-not-border Лучшие защитники

			.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ
					
			.wrap-media-table
				.b-table.table-white
					.table-container
						table.table--center
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ПОПЫТОК
									th ОШИБОК
									th ПОЗИТИВ
									th %

							tbody
								-for(var i=1; i<12; i++){
									tr
										th.t-a-l.color(style="width:20%") СТАЛЬНАЯ АНАСТАСИЯ
										th=i
										th 28
										th 32
										th 56
										th 34
								-}
						.table__footer-text.table__last-content(style="max-width: 760px; padding-left: 10px")  *ПОД ПОЗИТИВНЫМ ПРИЁМОМ ПОНИМАЕТСЯ ТАКОЙ ПРИЁМ ПОДАЧИ, ПРИ КОТОРОМ ПРИНИМАЮЩАЯ КОМАНДА ЕЩЁ МОЖЕТ ВЕСТИ КОМБИНАЦИОННОЕ НАПАДЕНИЕ, Т.Е. ЕСЛИ СВЯЗУЮЩИЙ ИГРОК ЕЩЁ МОЖЕТ ДАТЬ ПЕРЕДАЧУ НАПАДАЮЩЕМУ ПЕРВОГО ТЕМПА.


			.b-subscribe.b-subscribe--full
				.b-subscribe__title Будьте в курсе последних новостей:
				.b-subscribe__form
					input.input(type="email", name="email", placeholder="E-mail")
					button.b-subscribe__send.btn--blue Подписаться