extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'"Cеверянка". Сезон 2016/17 '}

block content_block
	.container.container--team-page
		.b-breadcrumbs
			a(href="/").breadcrumbs__item--link Главная 
			a(href="/").breadcrumbs__item--link Матчи 
			span.breadcrumbs__item Северянка 


		.title-default.title-default--white.title-default--mit-link
			span "Cеверянка". Сезон 2016/17 
			.wrap-title-links
				a(href="#").title-links__item.title-links__item--blue
					+icon(15)
				.title-links__item.title-links__item--blue Сезон 2016/2017
					
				a(href="#").title-links__item.title-links__item--blue
					+icon(16)
		.do-scroll.show-media--xl-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ФОТОГРАФИЮ

			.wrap-photo-map-media
				.photo-map
					img(src="/img/photo-team.png", alt="").photo-map__img

					
					.photo-map__mark(style="left:150px; top:90px")
						button.photo-map__mark-action.js-toggle-mark
							+icon(11, 'photo-map__mark-icon')
						.photo-map__mark-content
							.photo-map__mark-title АЛЕВТИНА НЕМЦЕВА #1
							.photo-map__mark-text Блокирующая
							a(href="#").link-mit-arrow.photo-map__mark-link
								span Подробнее
								span.link-mit-arrow__icon
									+icon(16)

					.photo-map__mark(style="left:300px; top:150px")
						button.photo-map__mark-action.js-toggle-mark
							+icon(11, 'photo-map__mark-icon')
						.photo-map__mark-content
							.photo-map__mark-title АЛЕВТИНА НЕМЦЕВА #1
							.photo-map__mark-text Блокирующая
							a(href="#").link-mit-arrow.photo-map__mark-link
								span Подробнее
								span.link-mit-arrow__icon
									+icon(16)


		.title-default.title-default--white
			span Состав команды "Северянка" сезона 2016-2017. Высшая лига "А"

		.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

			.wrap-media-table

				.b-table.table-white

					.table-container
						table.table--center
							thead
								tr
									th.t-a-l ИГРОК
									th N ИГРОКА
									th ГОД РОЖДЕНИЯ
									th РОСТ, СМ
									th АМПЛУА
									th ВЫСОТА СЪЁМА В АТАКЕ, СМ

							tbody
								-for(var i=1; i<15; i++){
									tr
										th.t-a-l.color КОРОВАЕВА АЛЕКСАНДРА
										th=i
										th 1989
										th 183
										th ДОИГРОВЩИК
										th 308
								-}
						.table__footer-text.table__last-content *СРЕДНИЙ ВОЗРАСТ КОМАНДЫ 
								span.blue 24,1 ГОДА. 
								| СРЕДНИЙ РОСТ БЕЗ УЧЁТА ЛИБЕРО 
								span.blue 184,8 СМ.

		.title-default.title-default--white.title-default--mit-link
			span Изменения в состава сезона 2015/2016

			.b-tab__controls.hide-media--lg
				button.tab-controls__item.active.js-select-tab(data-id-tab="team-exit", data-targer-tab=".js-tab-changes-team") Команду покинули
				button.tab-controls__item.js-select-tab(data-id-tab="team-joined", data-targer-tab=".js-tab-changes-team") Команду пополнили
		

		.do-scroll.show-media--lg-flex
				+icon(28, 'do-scroll__icon')
				.do-scroll__title ПРОКРУТИТЕ
					br
					| ТАБЛИЦУ

		.wrap-media-table

			.b-tab__controls.tab__controls--media.show-media--lg-flex
				button.tab-controls__item.active.js-select-tab(data-id-tab="team-exit", data-targer-tab=".js-tab-changes-team") Команду покинули
				button.tab-controls__item.js-select-tab(data-id-tab="team-joined", data-targer-tab=".js-tab-changes-team") Команду пополнили

			.b-tab__container

				.b-tab__item.js-tab-changes-team#team-exit
						.b-table.table-white
							.table-container
								table.table--center
									thead
										tr
											th.t-a-l ИГРОК
											th АМПЛУА
											th.t-a-l КАРЬЕРА

									tbody
										-for(var i=1; i<9; i++){
											tr
												th.t-a-l.color КОРОВАЕВА АЛЕКСАНДРА
												th.w-1-3 ДОИГРОВЩИК
												th.color.t-a-l УРАЛОЧКА-НТМК, СВЕРДЛОВСКАЯ ОБЛ. - СУПЕРЛИГА
										-}

				.b-tab__item.js-tab-changes-team#team-joined
						.b-table.table-white
							.table-container
								table.table--center
									thead
										tr
											th.t-a-l ИГРОК
											th АМПЛУА
											th.t-a-l КАРЬЕРА

									tbody
										-for(var i=1; i<9; i++){
											tr
												th.t-a-l.color НОВИКОВА ЕКАТЕРИНА
												th.w-1-3 НАПАДАЮЩИЙ
												th.color.t-a-l "ЛЕНИНГРАДКА", САНКТ-ПЕТЕРБУРГ - СУПЕРЛИГА
										-}


		.title-default.title-default--white
			span Тренерский штаб команды


		.coaching-list

			-for(var i=0; i <3; i++){
				.coaching-list__item
					.coaching-list__name Пилипенко Захар Владимирович
					.coaching-list__position ГЛАВНЫЙ ТРЕНЕР

				.coaching-list__item
					.coaching-list__name Самбурский Роман Владимирович
					.coaching-list__position СТАРШИЙ ТРЕНЕР
			-}

		.b-subscribe.b-subscribe--full
			.b-subscribe__title Будьте в курсе последних новостей:
			.b-subscribe__form
				input.input(type="email", name="email", placeholder="E-mail")
				button.b-subscribe__send.btn--blue Подписаться
