extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Текущие и будущие'}

block content_block
	.page-listmatches
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная 
				a(href="/").breadcrumbs__item--link Матчи 
				span.breadcrumbs__item Северянка 


			.title-default.title-default--white.title-default--mit-link
				span Матчи команды "Северянка"
				.wrap-title-links.links-mathes-info
					a(href="#").title-links__item.active Текущие и будущие
					a(href="#").title-links__item Прошедшие
					a(href="#").title-links__item.link-mit-icon
						+icon(7)
						span Календарь матчей

		.container.container--list-matches
			.wrap-mathes-full

				-for(var i=0; i<3 ; i++){
					+card-match--full_predsto()
				-}

					.b-subscribe.b-subscribe--full
						.b-subscribe__title Будьте в курсе последних новостей:
						.b-subscribe__form
							input.input(type="email", name="email", placeholder="E-mail")
							button.b-subscribe__send.btn--blue Подписаться

				-for(var i=0; i<3 ; i++){
					+card-match--full_predsto()
				-}

			button.load-more
				span Загрузить еще
				+icon(14, 'icon-load-more')


