extends layout/_base

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'UI элементов сайта'}

block content_block
	.container.ui-conteiner
		.do-scroll.show-media--lg-flex
			+icon(28, 'do-scroll__icon')
			.do-scroll__title ПРОКРУТИТЕ
				br
				| ТАБЛИЦУ

		button.load-more
			span Загрузить еще
			+icon(14, 'icon-load-more')


		button.btn.btn--blue.btn--radius  Подписаться

		a(href="#").link-mit-icon
			+icon(6, 'icon-youtube')
			span Скачать фото команды

		a(href="#").link-mit-icon
			+icon(7)
			span Календарь матчей

		a(href="#").link-back
			+icon(15)
			span Вернуться к команде

		a(href="#").link-mit-arrow
			span Календарь матчей
			span.link-mit-arrow__icon
				+icon(16)

		.title-default.title-default--white
			span Детали предстоящего матча

		.b-text-border--center В прошлом сезоне оба очных поединка соперников завершились минимальными победами ярославцев с одинаковым счётом 1:0. При этом, в Ханты-Мансийске хозяева льда, согласно официальной статистике, нанесли на семь бросков в створ больше, и тогда сухарь оформил Александр Судницин, а месяцем позже в Ярославле хоккеисты Югры попали в створ ворот Мурыгина менее 20 раз, и уже другой вратарь ярославцев записал в свой актив матч на ноль. Вообще, команды регулярно играют близкие по счёту матчи именно в Ханты-Мансийске - в четырёх из пяти предыдущих встреч победителя от проигравшего отделил один гол, и в двух случаях победа доставалась Югре. Всего же из 11 очных матчей в рамках КХЛ железнодорожники выиграли 8. Интересно, что все 11 встреч завершились в основное время.

		.b-text-border--blue В прошлом сезоне оба очных поединка соперников завершились минимальными победами ярославцев с одинаковым счётом 1:0. При этом, в Ханты-Мансийске хозяева льда, согласно официальной статистике, нанесли на семь бросков в створ больше, и тогда сухарь оформил Александр Судницин, а месяцем позже в Ярославле хоккеисты Югры попали в створ ворот Мурыгина менее 20 раз, и уже другой вратарь ярославцев записал в свой актив матч на ноль. Вообще, команды регулярно играют близкие по счёту матчи именно в Ханты-Мансийске - в четырёх из пяти предыдущих встреч победителя от проигравшего отделил один гол, и в двух случаях победа доставалась Югре. Всего же из 11 очных матчей в рамках КХЛ железнодорожники выиграли 8. Интересно, что все 11 встреч завершились в основное время.


		.b-pagination
			ul.pagination__list
				li.pagination__item
					+icon(17)
				li.pagination__item--active.pagination__item 
					a(href="#") 1
				li.pagination__item
					a(href="#") 2
				li.pagination__item
					a(href="#") 3
				li.pagination__item
					a(href="#") 4
				li.pagination__item
					a(href="#") ...
				li.pagination__item
					a(href="#") 10
				li.pagination__item
					a(href="#") 11
				li.pagination__item
					a(href="#") 12
				li.pagination__item
					a(href="#") 13
				li.pagination__item
					a(href="#") 
						+icon(18)

		a(href="#").link-mit-arrow
			span Календарь матчей
			span.link-mit-arrow__icon
				+icon(16)

		.current-news__social
			.current-news__social-title ПОДЕЛИТЬСЯ

			.share__item.share__item--vk
				bitton.share__btn
					+icon(2 ,'share__icon')
					.share__title Вконтакте
				.share__counter 1

			.share__item.share__item--facebook
				bitton.share__btn
					+icon(3 ,'share__icon')
					.share__title Facebook
				.share__counter 1

			.share__item.share__item--twetter
				bitton.share__btn
					+icon(4 ,'share__icon')
					.share__title Twetter
				.share__counter 1

		.card-match.card-match--small.grid-4
			.card-match__location Выезд
			.card-match__type Регулярный чемпионат
			.card-match__info
				.card-match__team
					img(src="/img/primor.png", alt="Приморочка").card-match__team-logo
					.card-match__team-name Приморочка
					.card-match__team-location Приморский край
				.card-match__date
					.card-match__date-day СЕГОДНЯ
					.card-match__date-time 20:00
				.card-match__team
					img(src="/img/severjanka.png", alt="Северянка").card-match__team-logo
					.card-match__team-name Северянка
					.card-match__team-location Череповец

		.card-match.card-match--small.grid-6
			.card-match__location.card-match__location--home  Дома
			.card-match__type Регулярный чемпионат
			.card-match__info
				.card-match__team
					img(src="/img/primor.png", alt="Приморочка").card-match__team-logo
					.card-match__team-name Приморочка
					.card-match__team-location Приморский край
				.card-match__date
					.card-match__date-day СЕГОДНЯ
					.card-match__date-time 20:00
				.card-match__team
					img(src="/img/severjanka.png", alt="Северянка").card-match__team-logo
					.card-match__team-name Северянка
					.card-match__team-location Череповец

		.b-subscribe
			.b-subscribe__title Будьте в курсе последних новостей:
			.b-subscribe__form
				input.input(type="email", name="email", placeholder="E-mail")
				button.b-subscribe__send.btn--blue Подписаться

		.b-subscribe.b-subscribe--full
			.b-subscribe__title Будьте в курсе последних новостей:
			.b-subscribe__form
				input.input(type="email", name="email", placeholder="E-mail")
				button.b-subscribe__send.btn--blue Подписаться


		.b-text.b-text--toggle.js-block--text-toggle
			p В сезоне чемпионата России 2015-2016 гг. команда "Северянка" сыграла 28 игр -101-у партию. Было выиграно 25 матчей и проиграно 3. За сезон 78 партий выиграно и 23 партии проиграно.
			p В атаке, на блоке и с подачи "Северянка" выиграла 1 903 очка, из них 930 - брейковых. Ещё 510 очков было выиграно на невынужденных ошибках соперника. Проиграно 1 953 мяча, из них 549 - собственные невынужденные ошибки. Было подано 2 387 подач, из них 217 очковых - 9,09%, ошибки на подаче 224 - это 9,38%. Команда атаковала 3 123 раза и этим элементом набрала 1 347 очков - эффективность нападения составила 43,13%, потери мяча в атаке составили 546 очков - это 17,48% от всех атак. Было заблокировано 340 атак соперника, ошибки при блокировании - 523, что составило 41,54% от всех касаний мяча на блоке. Позитивный приём подачи таков: из 1 794 подач соперника были позитивно приняты 1 090 - 60,76%, допущено 122 ошибки приёма подачи – 6,80%. В защите сыграно 1 465 мячей, 787 мячей спасено с последующей доигровкой, т.е. эффективность защиты составила 53,72%, допущено 540 ошибок в защите - 36,86%.
			span(data-text="ststistic-text")
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, error!
			button.btn-text-show.js-text-toggle--btn(data-togglle-text="ststistic-text") 
				span.js-replace-text(data-text-default="Читать описание полностью" data-replace-text='Свернуть') Читать описание полностью
				+icon(14)

		.player-card.player-card--small.player-card--link.grid-6
			.player-card__header-bgi
			.player-card__content
				.player-card__header
					.player-card__photo(style="background-image: url(/img/Lysaya.JPG)")
					.player-card__info
						.player-card__name КСЕНИЯ КРАВЧЕНКО
						.player-card__team СЕВЕРЯНКА
						.player-card__status Доигровщик
					.player-card__number
						sup №
						span 30
				.player-card__static

					.title-default.title-default--small.title-default--white
						span СТАТИСТИКА ИГРОКА

					.player-card__static-wrap
						.player-card__static-value
							.player-card__static-number 18
							.player-card__static-title ЗАБИТЫХ МЯЧЕЙ 

						.player-card__static-value
							.player-card__static-number 24
							.player-card__static-title КОЛИЧЕСТВО ИГР

						.player-card__static-value
							.player-card__static-number 10
							.player-card__static-title СЫГРАННЫХ СЕТОВ

		.card-match.card-match--big

				.card-match__team
					img(src="/img/severjanka.png", alt="Северянка").card-match__team-logo
					.card-match__team-name Северянка
					.card-match__team-location Череповец

				.card-match__info.bg-gray
					.card-match__location Выезд

					.card-match__info-header
						.card-match__type Регулярный чемпионат
						.card-match__score 3:0
						.card-match__result 25:18  25:22  15:25  25:15 25:18  25:22

					.card-match__info-footer
						.card-match__date 25 СЕНТЯБРЯ, 15:00
							span Г. ЧЕРЕПОВЕЦ
						button.card-match__stadium СК "Юбилейный"
							span ул. Ленина, 125
						button.card-match__video
							+icon(6)
					
				.card-match__team
						img(src="/img/primor.png", alt="Приморочка").card-match__team-logo
						.card-match__team-name Приморочка
						.card-match__team-location Приморский край

	.wrap-b-nearest-games
		.b-nearest-games.bg-gray
			.f-container.container--nearest-games
				
				.nearest-games__title.bg-gray БЛИЖАЙШИЕ ИГРЫ

				.nearest-games__body
					.grid-container
						.card-match.card-match--small.grid-4
							.card-match__location Выезд
							.card-match__type Регулярный чемпионат
							.card-match__info
								.card-match__team
									img(src="/img/primor.png", alt="Приморочка").card-match__team-logo
									.card-match__team-name Приморочка
									.card-match__team-location Приморский край
								.card-match__date
									.card-match__date-day СЕГОДНЯ
									.card-match__date-time 20:00
								.card-match__team
									img(src="/img/severjanka.png", alt="Северянка").card-match__team-logo
									.card-match__team-name Северянка
									.card-match__team-location Череповец

						.card-match.card-match--small.grid-4
							.card-match__location.card-match__location--home  Дома
							.card-match__type Регулярный чемпионат
							.card-match__info
								.card-match__team
									img(src="/img/primor.png", alt="Приморочка").card-match__team-logo
									.card-match__team-name Приморочка
									.card-match__team-location Приморский край
								.card-match__date
									.card-match__date-day СЕГОДНЯ
									.card-match__date-time 20:00
								.card-match__team
									img(src="/img/severjanka.png", alt="Северянка").card-match__team-logo
									.card-match__team-name Северянка
									.card-match__team-location Череповец

						.card-match.card-match--small.grid-4
							.card-match__location Выезд
							.card-match__type Регулярный чемпионат
							.card-match__info
								.card-match__team
									img(src="/img/primor.png", alt="Приморочка").card-match__team-logo
									.card-match__team-name Приморочка
									.card-match__team-location Приморский край
								.card-match__date
									.card-match__date-day СЕГОДНЯ
									.card-match__date-time 20:00
								.card-match__team
									img(src="/img/severjanka.png", alt="Северянка").card-match__team-logo
									.card-match__team-name Северянка
									.card-match__team-location Череповец


				.nearest-games__header
					button.nearest-games__show.js-tooggle-nearest-games.circle__arrow
						+icon(19)

	.bg-gray
		.container
			.wrap-players-slider
				.players-slider__controls
					button.players-slider__control.players-slider__prev.js-prev-banner(data-slider="players_slider")
						+icon(21)
					button.players-slider__control.players-slider__next.js-next-banner(data-slider="players_slider")
						+icon(22)

				.players-slider.js-players-slider

					-for(var i=0; i<7; i++){
						.player-card--little
							.player-card__photo--little(style="background-image: url(/img/Lysaya.JPG)")
							.player-card__info--little
								.player-card__number--little
									sub №
									span 30
								.player-card__name--little КСЕНИЯ КРАВЧЕНКО
								.player-card__team--little СЕВЕРЯНКА
								.player-card__status--little Доигровщик
					-}
							
