extends layout/_base--custom

block vars
	- var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Волейбольный центр СДЮСШОР'}

block content_block
	.page--volejbolnyj-centr
		.container
			.b-breadcrumbs
				a(href="/").breadcrumbs__item--link Главная
				span.breadcrumbs__item Волейбольный центр СДЮСШОР

			
			.title-default.title-default--white
				span Волейбольный центр СДЮСШОР
			
			.wrap-info-item--flex
				.info-item
					.info-item__title О школе
					.info-item__content
						p.info-item--mb Муниципальное бюджетное образовательное учреждение дополнительного образования детей "Специализированная детско-юношеская спортивная школа олимпийского резерва по волейболу" (МБОУ ДОД "СДЮСШОР по волейболу").
						p.info-item--blue-color Контингент занимающихся - девочки.
						p.info-item--blue-color Занятия проводятся бесплатно.


				.info-item
					.info-item__title Контаты
					.info-item__content
						p Россия, 162614, Вологодская область, г. Череповец, "Волейбольный центр", ул.Маяковского д. 11, корпус 1.
						p Телефон:
						a(href="#").phone-link  8 (8202) 55-60-94
						a(href="#").phone-link  8 (8202) 50-28-21
						p Факс:
						a(href="#").phone-link.info-item--mb  8 (8202) 55-60-94
						p E-mail: 
							a(href="#") cher.volleyball@yandex.ru
						p Cайт: 
							a(href="#") https://sites.google.com/site/chervolleyball/school
