include ../tpl/_project_mixins
include ../tpl/_global_mixins
include ../tpl/_project_vars
- var array = '';
block vars
doctype
html(lang="ru").no-js
	head
		+head(array)
	body(class='#{array.body_class}')
		+header
		block content_block
			
		+footer__custom
		+local_popup
		+scripts