.f-container--404
	padding-top: 0
	padding-bottom: 0
.wrap-404
	min-height: 100vh
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center

.b-404
	&__content
		width: 20%
		flex-basis: 300px
	&__title
		color: $l-blue
		font-size: 30pt
		font-weight: normal
		span
			display: block
			font-size: 18pt
			padding-top: 10px
	&__description
		font-size: 14pt
		color: #333
		p
			font-size: 14pt
			color: #333
			font-family: clearsans
		a
			color: $l-blue

	&__photo
		//width: 50%