
.page-listmatches
	.load-more
		margin-top: 20px
		margin-bottom: 30px !important
.page-calendar
	.do-scroll
		display: none

.links-mathes-info
	.link-mit-icon
		.icon
			font-size: 14px

.calendar
	position: relative
	width: 100%
	padding-bottom: 60px
	max-width: 100%
	overflow: hidden

	&__controls
		position: absolute
		left: 0
		right: 0
		top: 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		z-index: 2

	&__control
		border: none
		background-color: $gray
		cursor: pointer
		transition: background ease .3s
		height: 40px
		width: 40px
		.icon
			font-size: 8px
			color: #8E98AD
		&:hover
			background-color: #D8DDE6
	&__prev

	&__next

.calendar
	&__header
	&__months 
		text-align: center
		background-color: $gray
		font-size: 11pt
		text-transform: uppercase
		height: 40px
		vertical-align: middle
		line-height: 40px

	&__days
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: center

	&__day
		width: 14.3%
		text-align: center
		padding-top: 20px
		padding-bottom: 20px
		color: #8E98AD

	&__body
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center


	&__item
		border: 1px
		width: 14.3%
		height: 150px
		border: 1px solid #D6DAE3
		margin-left: -1px
		margin-top: -1px
		position: relative
		padding: 7px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		text-align: center

		&:hover
			.link-mit-arrow__icon
				.icon
					animation: link_mit_arrow  .5s   ease

		&-day
			position: absolute
			top: 0px
			left: 0px
			width: 32px
			background-color: #E7EAF0
			color: #333
			text-align: center
			padding-top: 8px
			padding-bottom: 9px
			line-height: 10pt
			// top: -1px
			left: -1px

		&-info

		&-time
			font-size: 18pt
			color: #fff
			font-family: clearsansmedium
			margin-bottom: 10px

		&-team
			font-size: 11pt
			color: #333

		&-result
			font-size: 18pt
			color: $l-blue
			font-family: clearsansmedium
			margin-top: 5px
			margin-bottom: 5px

		&-vs
			font-size: 9pt
			color: #fff
			margin-top: 5px
			margin-bottom: 5px

		.link-mit-arrow
			text-align: center
			color: #8E98AD
			display: -webkit-inline-flex
			display: -moz-inline-flex
			display: -ms-inline-flex
			display: -o-inline-flex
			display: inline-flex
			position: absolute
			top: 5px
			left: 50%
			margin-left: -30px
			.link-mit-arrow__icon
				background-color: #fff
				margin-bottom: -2px
				margin-left: 5px
				.icon
					color: #8E98AD


.match--house
	cursor: pointer
	.calendar__item
		&-day
			background-color: $l-blue
			color: #fff

	&.match--will-be
		background-color: $l-blue
		align-items: flex-end
		padding-bottom: 20px
		.calendar__item
			&-day
				background-color: #1184DB
				left: 0
				top: 0

			&-team
				color: #fff
		.link-mit-arrow
			color: #DFE3EB
			margin-right: -10px
			.link-mit-arrow__icon
				background-color: $l-blue
				.icon
					color: #DFE3EB

.match--exit
	cursor: pointer
	.calendar__item
		&-day
			background-color: $d-blue
			color: #fff

	&.match--will-be
		background-color: $d-blue
		align-items: flex-end
		padding-bottom: 20px
		.calendar__item
			&-day
				background-color: #465897
				left: 0
				top: 0

			&-team
				color: #fff
		.link-mit-arrow
			color: #DFE3EB
			margin-right: -10px
			.link-mit-arrow__icon
				background-color: $d-blue
				.icon
					color: #DFE3EB


// css реализация переключения календаря

.calendar-container
	width: 19000px
	position: relative


.wrap-calendar__months
	width: 1240px
	float: left
	display: inline-block
	padding: 0 2px



