.page--histiry
	padding-bottom: 60px
	.coaching-list--border-item
		margin-bottom: 40px

	.b-subscribe--full
		margin-top: 55px

.wrap-trener-items
	margin-bottom: 90px

.trener-item
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center

	&__photo
		width: 170px
		height: 170px
		+bgi
		background-size: cover
		margin-right: 30px
		border-radius: 50%

	&__info
		max-width: 330px

	&__name
		font-size: 20pt
		padding-bottom: 15px
		text-transform: uppercase

	&__status
		font-family: clearsansmedium
		font-size: 11pt
		padding-bottom: 10px
		color: $l-blue
		text-transform: uppercase

	&__description
		color: #8E98AD
		font-size: 11pt
		line-height: 1.7

.wrap-time-history
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	height: 100%
	padding-left: 40px
	padding-right: 40px

.wrap-time-history-content
	max-width: 1700px
	margin-left: auto
	margin-right: auto
	overflow: hidden

.time-history
	margin-bottom: 74px

	&__content
		background-color: #E7EAF0
		.load-more
			display: none

	&__col
		width: 250px
		border-left: 1px solid #D6DAE3
		border-right: 1px solid #D6DAE3
		margin-left: -1px
		flex-basis: 250px
		background-color: #E7EAF0
		font-size: 18pt
		font-family: clearsansmedium
		padding-top: 60px
		padding-left: 10px
		padding-right: 20px
		padding-bottom: 40px



	&__year
		font-size: 16pt
		font-family: clearsanslight
		color: #8E98AD
		margin-left: -37px
		margin-bottom: 65px

	&__event
		font-size: 10pt
		border-left: 4px solid $l-blue
		background-color: #fff
		padding: 10px 30px 10px 15px
		margin-bottom: 30px
		box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.2)


	&__control
		background-color: #D8DDE6
		width: 100%
		position: relative
		&:after
			position: absolute
			content: ''
			height: 1px
			width: 100%
			top: 50%
			margin-top: -1px
			background-color: #AFBAD1

	&__line
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		&-item
			font-size: 11pt
			font-family: clearsansmedium
			width: 100%
			padding-top: 30px
			padding-bottom: 30px
			z-index: 2
			position: relative
			text-align: center


	&__btn-control
		height: 14px
		width: 14px
		border-radius: 50%
		background-color: $l-blue
		border: none
		position: absolute
		padding: 0
		z-index: 3
		cursor: pointer
		top: 50% !important
		margin-top: -7px
		cursor: pointer
		//left: 150px