
.page-gamer
	padding-bottom: 60px
.list-information--player-info
	margin-bottom: 40px

.player-info
	.progress--achievements
		margin-top: 45px
		padding-bottom: 100px

	&__header
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		padding-top: 40px
		border-top: 1px solid #D6DAE3
		margin-top: 15px
		padding-bottom: 35px

	&__photo
		+bgi
		height: 200px
		width: 200px
		margin-right: 45px
		flex-grow: 1
		border-radius: 50%
		background-position: center bottom

	&__content
		flex: 1
		padding-right: 60px
		flex-basis: 400px
		flex-grow: 1
		&.trener
			.player-info__status
				flex-wrap: wrap

	&__name
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		text-transform: uppercase
		margin-bottom: 5px
		align-items: flex-start

		span
			font-size: 20pt
			max-width: 200px
			color: #333

	&__nickname
		color: #AFBAD1
		font-size: 20pt
		text-transform: uppercase

	&__team
		color: $l-blue	
		font-size: 11pt
		font-family: clearsansmedium
		margin-top: 23px

	&__status
		margin-top: 15px
		font-size: 11pt
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center

		&-type
			color: #8E98AD
			padding-right: 30px

		&-league
			color: #8E98AD
			padding-top: 10px
			width: 100%

		&-rank
			color: #333
			.icon
				font-size: 14px
				margin-right: 6px
				margin-bottom: -2px

.player-info__table
	padding: 25px 45px
	background-color: $gray
	flex-basis: 606px

	&-row
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		padding-bottom: 10px
		border-bottom: 1px solid #D6DAE3
		padding-top: 10px
		&:last-of-type
			border-bottom: none
	&-cell
		&:first-of-type
			width: 50%
	&-title
		color: $l-blue
		font-size: 10pt
		font-family: clearsansmedium
		padding-bottom: 6px
		text-transform: uppercase

	&-content
		color: #333
		font-size: 11pt
		padding-right: 20px


.competition
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: flex-start
	flex-wrap: wrap
	&__item
		width: 16.6%
		padding-bottom: 35px
		&--kubok
			.kubok
				display: block
		&--medal
			.medal
				display: block

	&__icon
		font-size: 55px
		color: #4D4D4D
		display: none
	&__date
		color: #333
		font-size: 14pt
		font-family: clearsansmedium
		padding-bottom: 5px
		padding-top: 15px
	&__title
		color: #000

.wrap-progress__slider
	padding-left: 90px
	padding-right: 90px
	position: relative
	&:before
		content: ''
		width: 100%
		height: 2px
		position: absolute
		left: 0
		right: 0
		top: 2.3px
		border-bottom: dashed 1px #AFBAD1
		z-index: 0

.progress--career
	padding-bottom: 20px

.progress
	position: relative
	z-index: 2

	&--no-slider
		.progress__controls
			display: none

	&__controls
		position: absolute
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		width: 100%
		top: -14px
	&__control
		background-color: $gray
		border-radius: 50%
		width: 37px
		height: 37px
		border: none
		cursor: pointer
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		z-index: 2
		padding: 0 !important
		box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3)
		transition: box-shadow ease .3s
		&:active
			box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2)
		.icon
			line-height: 1em
			font-size: 8px
			color: #AFBAD1
		&-prev
			left: 0

		&-next
			right: 0

	&__slider
		position: relative
	&__item
		color: #333
		padding-right: 20px

	&__circle
		height: 10px
		width: 10px
		background-color: $l-blue
		border-radius: 50px
		z-index: 2
		position: relative

	&__date
		font-size: 12pt
		font-family: clearsansmedium
		padding-top: 20px

	&__title
		font-size: 11pt


.list-information
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	padding-top: 70px
	padding-bottom: 10px
	align-items: stretch
	flex-wrap: wrap
	&__item
		width: 25%
		padding-left: 20px
		padding-right: 20px
		margin-bottom: 40px
	&__title
		color: $l-blue
		font-size: 14pt
		padding-bottom: 20px
		border-bottom: 1px solid #D6DAE3
		text-transform: uppercase
		height: 50%
	&__content
		padding-top: 15px
		text-transform: uppercase
		font-size: 11pt
		color: #333



				