.page-statistik
	padding-bottom: 60px
	.b-text
		padding-bottom: 65px

	.b-table
		margin-bottom: 50px

.comparison-seasons
	&__years
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
		margin-top: 5px
		margin-bottom: 30px
	&__year
		color: #8E98AD
		width: 33%
		text-align: center
		font-size: 14pt
		font-family: clearsansmedium