@mixin bgi()
	background-position: center center
	background-repeat: no-repeat
	background-size: contain

@mixin df()
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

@mixin overlay($color) 
	position: relative
	z-index: 0

	&:before 
		content: ""
		z-index: -1
		position: absolute
		top: 0
		bottom: 0
		left: 50%
		width: 100vw
		height: 100%
		margin: 0 0 0 (-50vw)
		background: $color

@mixin trans($time)
	transition: all ease #{$time}s

@mixin translY($size)
	transform: translateY($size)

@mixin translX($size)
	transform: translateX($size)

@mixin arrow($direction,$color:#000,$width:1rem,$arrow_width:.1rem) 
	width: $width
	height: $width
	transform: rotate(45deg)
	@if $direction == right 
		border-top: $arrow_width solid $color
		border-right: $arrow_width solid $color
		border-bottom: 0
		border-left: 0
	
	@if $direction == bottom 
		border-right: $arrow_width solid $color
		border-bottom: $arrow_width solid $color
		border-top: 0
		border-left: 0
	
	@if $direction == left 
		border-bottom: $arrow_width solid $color
		border-left: $arrow_width solid $color
		border-top: 0
		border-right: 0
	
	@if $direction == top 
		border-left: $arrow_width solid $color
		border-top: $arrow_width solid $color
		border-bottom: 0
		border-right: 0
	
@mixin arrow_css($color:#000,$width:1rem)
	top: 100%
	left: 50%
	border: solid transparent
	content: " "
	height: 0
	width: 0
	position: absolute
	pointer-events: none
	border-color: rgba(232, 232, 232, 0)
	border-top-color: $color
	border-width: $width
	margin-left: -$width

