.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


#SVG_container{
	position: absolute;
	height: 0;
	width: 0;
}

#SVG_container svg{
	position: absolute;
	height: 0;
	width: 0;
	visibility: hidden;
	overflow: hidden;
}

{{#shapes}}
.icon-{{base}} {
	font-size:({{height.inner}}/10)*1rem;
	width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}