include _project_vars

mixin head(array)
	meta(charset='UTF-8')
	title!=array.title_inner
	meta(name="viewport", content="width=device-width")
	meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="format-detection", content="telephone=no")
	link(type="image/x-icon", rel="shortcut icon", href="favicon.ico")
	link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
	link(rel="apple-touch-icon", href="apple-touch-icon.png")
	link(rel="apple-touch-icon", sizes="57x57", href="apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="72x72", href="apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="apple-touch-icon-152x152.png")

	link(rel="stylesheet" media="all" href="/css/main_global.css")

mixin scripts
	if jQuery
		//-<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/jquery-3.2.1.min.js"><\/script>')</script> 

	if jQueryUI
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script>window.jQuery.ui || document.write('<script src="js/jquery-ui.min.js"><\/script>')</script>
		//-todo скачать новую версию в проект

	script(src="/js/all.js")
	script(src='/js/vue.js')
	script(src='/js/main.js')

	


mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="#" + name)
