mixin header
	#SVG_container

	header.header
		.bg-d-blue
			.f-container.container--header
				.header__map-data
					a(href="#")
						+icon(9)
						span.media-hidden г. Череповец, спорткомплекс  "Юбилейный", ул. Ленина 125
						span.media-show "Юбилейный", ул. Ленина 125
				.header__soc-list
					span Северянка в соцсетях:
					ul.list-soc
						li.list-soc__item
							a(href="#")
								+icon(2, "small-icon")

						li.list-soc__item
							a(href="#")
								+icon(3, "big-icon")

						li.list-soc__item
							a(href="#")
								+icon(4)

						li.list-soc__item
							a(href="#")
								+icon(5)

						li.list-soc__item
							a(href="#")
								+icon(6)

				.header__sponsor.bg-l-blue
					span Спонсор волейбольного клуба
					img(src="/img/logo-fosagro.png", alt="Фосагро")
				.b-select-language
					button.select-language__selected.bg-d-blue.js-open-language
						span.js-language-selected RU
						+icon(14,'togle-arrow')
					.language__list
						button.language__item.js-select-language EN
						button.language__item.js-select-language FR
						button.language__item.js-select-language GE 
						button.language__item.js-select-language IT
						button.language__item.js-select-language PL

		.f-container.wrap-header-nav
			a(href="/").logo
				img(src="/img/logo.png", alt="Логотип северянка")

			nav.header__nav
				ul.header__nav-list
					li.header__nav-item 
						a(href="#") МАТЧИ
					li.header__nav-item
						a(href="#" data-target-nav="club").js-toggle-popup-nav КЛУБ
					li.header__nav-item
						a(href="#" data-target-nav="team").js-toggle-popup-nav КОМАНДЫ
					li.header__nav-item
						a(href="#" data-target-nav="competition").js-toggle-popup-nav СОРЕВНОВАНИЯ
					li.header__nav-item
						a(href="#") СТАТИСТИКА
					li.header__nav-item
						a(href="#") НОВОСТИ
					li.header__nav-item
						a(href="#") ССЫЛКИ

			.header-search.hidden-media
				form.b-search-form
					input.input(type="text" name="query" placeholder="поиск")
					button.send-search
						+icon(10)

			button.btn-media-menu.js-toggle--media-menu(style="background-image: url(/img/menu-btn.png)")
				

		.popup-nav(data-popup-nav="club")
			.f-container.f-container--popup-nav.f-container--nav-one

				button.close-btn.close-btn--popup-nav.js-toggle-popup-nav(data-target-nav="club")
					+icon(12)
				.popup-nav__col
					.popup-nav__content
						.one-row-nav
							.logo
								img(src="/img/29.svg", alt="Северянка")
							.popup-nav__title КЛУБ
							ul.one-row-nav__list
								li.one-row-nav__item
									a(href="#") НОВОСТИ КЛУБА
								li.one-row-nav__item
									a(href="#") АРХИВ НОВОСТЕЙ
								li.one-row-nav__item
									a(href="#") ИСТОРИЯ
								li.one-row-nav__item
									a(href="#") КОНТАКТЫ
								li.one-row-nav__item
									a(href="#") ДЛЯ СКАЧИВАНИЯ
								li.one-row-nav__item
									a(href="#") ВОЛЕЙБОЛЬНЫЙ ЦЕНТР
								li.one-row-nav__item
									a(href="#") ГОРОДСКАЯ ФЕДЕРАЦИЯ

		.popup-nav(data-popup-nav="team")
			.f-container.f-container--popup-nav

				button.close-btn.close-btn--popup-nav.js-toggle-popup-nav(data-target-nav="team")
					+icon(12)

				a(href="#").popup-nav__col.popup-nav__col--team
					.popup-nav__content
						.team-nav
							.logo
								img(src="/img/29.svg", alt="Северянка")
							.popup-nav__title СЕВЕРЯНКА-1

				a(href="#").popup-nav__col.popup-nav__col--team
					.popup-nav__content
						.team-nav
							.logo
								img(src="/img/29.svg", alt="Северянка")
							.popup-nav__title СЕВЕРЯНКА

				a(href="#").popup-nav__col.popup-nav__col--team
					.popup-nav__content
						.team-nav
							.logo
								img(src="/img/29.svg", alt="Северянка")
							.popup-nav__title СЕВЕРЯНКА-2


		.popup-nav(data-popup-nav="competition")
			.f-container.f-container--popup-nav.f-container--nav-one

				button.close-btn.close-btn--popup-nav.js-toggle-popup-nav(data-target-nav="competition")
					+icon(12)
				.popup-nav__col
					.popup-nav__content
						.one-row-nav
							.logo
								img(src="/img/29.svg", alt="Северянка")
							.popup-nav__title СОРЕВНОВАНИЯ
							ul.one-row-nav__list
								li.one-row-nav__item
									a(href="#") ЧЕМПИОНАТ РОССИИ
								li.one-row-nav__item
									a(href="#") КУБОК РОСИИ
	.media-menu.js-media-menu
		button.media-menu__toggle.js-toggle--media-menu
			span(style="background-image: url(/img/menu-btn.png)")
			| МЕНЮ
		.media-menu__content
			.wrap-menu-liks.js-menu-liks
				a(href="#").media-menu__item МАТЧИ
				button.media-menu__item.js-show--lvl-menu(data-id-menu="menu_club") КЛУБ
					+icon(16)
				button.media-menu__item.js-show--lvl-menu(data-id-menu="menu_teams") КОМАНДЫ
					+icon(16)
				button.media-menu__item.js-show--lvl-menu(data-id-menu="menu_competition") СОРЕВНОВАНИЯ
					+icon(16)  
				a(href="#").media-menu__item СТАТИСТИКА       
				a(href="#").media-menu__item АРХИВ       
				a(href="#").media-menu__item ССЫЛКИ

			.wrap-menu-lvl#menu_club
				.media-menu__item
					button.media-menu__lvl-back.js-show--lvl-menu(data-id-menu="menu_club")
						+icon(15)
						| КЛУБ 
				a(href="#").media-menu__item НОВОСТИ КЛУБА      
				a(href="#").media-menu__item АРХИВ НОВОСТЕЙ      
				a(href="#").media-menu__item ИСТОРИЯ
				a(href="#").media-menu__item КОНТАКТЫ
				a(href="#").media-menu__item ДЛЯ СКАЧИВАНИЯ
				a(href="#").media-menu__item ВОЛЕЙБОЛЬНЫЙ ЦЕНТР
				a(href="#").media-menu__item ГОРОДСКАЯ ФЕДЕРАЦИЯ

			.wrap-menu-lvl#menu_teams
				.media-menu__item
					button.media-menu__lvl-back.js-show--lvl-menu(data-id-menu="menu_teams")
						+icon(15)
						| КОМАНДЫ 
				a(href="#").media-menu__item СЕВЕРЯНКА      
				a(href="#").media-menu__item СЕВЕРЯНКА-1       
				a(href="#").media-menu__item СЕВЕРЯНКА-2


			.wrap-menu-lvl#menu_competition
				.media-menu__item
					button.media-menu__lvl-back.js-show--lvl-menu(data-id-menu="menu_competition")
						+icon(15)
						| СОРЕВНОВАНИЯ 
				a(href="#").media-menu__item ЧЕМПИОНАТ РОССИИ      
				a(href="#").media-menu__item КУБОК РОСИИ

  
		.media-menu__search
			.header-search
				form.b-search-form
					input.input(type="text" name="query" placeholder="ПОИСК")
					button.send-search
						+icon(10)

mixin footer
	.section-all-page
		.bg-gray
			.container.container--default
				.title-default.title-default--gray.title-default--mit-link
					span Фотоотчеты
					a(href="#").link-mit-icon.hide-media--md
						+icon(2, 'icon-vk')
						span Смотреть ВКонтакте
				.b-fotogalery
					-for(var i=0; i<4; i++){
						.fotogalery-card
							.fotogalery-card__photo(style="background-image: url(/img/fotogalery-test.png)")
								a(href="#").fotogalery-card__hover
									span СМОТРЕТЬ В VK
									+icon(8)
							.fotogalery-card__footer
								.fotogalery-card__date 13 АВГУСТА, 2017
								a(href="#").fotogalery-card__share
									+icon(8)
								a(href="#").fotogalery-card__name "Северянка" на сборах в Сочи 2017.
					-}

				a(href="#").link-mit-icon.show-media--md-flex
						+icon(2, 'icon-vk')
						span(style="color: #8E98AD;") Смотреть ВКонтакте


		.container.container--default
			.b-slider.js-b-slider-content.b-slider--partners.js-slider--partners
				.b-slider__item.b-slider__item--partners
					a(href="#").card-partner
						.card-partner__logo
							img(src="/img/partners1.jpg", alt="NAME")
						span.card-partner__type ПАРТНЕР 
						span.card-partner__name Группа компаний "ФосАгро"

				.b-slider__item.b-slider__item--partners
					a(href="#").card-partner
						.card-partner__logo
							img(src="/img/partners2.jpg", alt="NAME")
						span.card-partner__type ПАРТНЕР 
						span.card-partner__name Мэрия города Череповца

				.b-slider__item.b-slider__item--partners
					a(href="#").card-partner
						.card-partner__logo
							img(src="/img/partners3.jpg", alt="NAME")
						span.card-partner__type ПАРТНЕР 
						span.card-partner__name Электронный волейбол

				.b-slider__item.b-slider__item--partners
					a(href="#").card-partner
						.card-partner__logo
							img(src="/img/partners4.jpg", alt="NAME")
						span.card-partner__type ПАРТНЕР 
						span.card-partner__name Интернет-гипермаркет для бизнеса

				.b-slider__item.b-slider__item--partners
					a(href="#").card-partner
						.card-partner__logo
							img(src="/img/partners5.jpg", alt="NAME")
						span.card-partner__type ПАРТНЕР 
						span.card-partner__name МАУ Спортивный клуб Череповец


				.b-slider__item.b-slider__item--partners
					a(href="#").card-partner
						.card-partner__logo
							img(src="/img/partners6.jpg", alt="NAME")
						span.card-partner__type ПАРТНЕР 
						span.card-partner__name Хоккейный клуб "Северсталь"
	footer.footer
		.bg-gray
			.f-container
				.footer-nav

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu МАТЧИ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item МАТЧИ "СЕВЕРЯНКА"
							a(href="#").footer-nav__item МАТЧИ "СЕВЕРЯНКА-2"
							a(href="#").footer-nav__item МАТЧИ "СЕВЕРЯНКА-3"

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu КЛУБ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item НОВОСТИ КЛУБА
							a(href="#").footer-nav__item ИСТОРИЯ
							a(href="#").footer-nav__item КОНТАКТЫ
							a(href="#").footer-nav__item ДЛЯ СКАЧИВАНИЯ
							a(href="#").footer-nav__item ВОЛЕЙБОЛЬНЫЙ ЦЕНТР
							a(href="#").footer-nav__item ГОРОДСКАЯ ФЕДЕРАЦИЯ

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu КОМАНДЫ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item "СЕВЕРЯНКА"
							a(href="#").footer-nav__item "СЕВЕРЯНКА-2"
							a(href="#").footer-nav__item "СЕВЕРЯНКА-3"

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu СОРЕВНОВАНИЯ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item ЧЕМПИОНАТ РОССИИ
							a(href="#").footer-nav__item КУБОК РОССИИ

					.footer-nav__col.footer-nav__col--not-list
						a(href="#").footer-nav__title.footer-nav__title--link СТАТИСТИКА
						a(href="#").footer-nav__title.footer-nav__title--link АРХИВ
						a(href="#").footer-nav__title.footer-nav__title--link О ВОЛЕЙБОЛЕ
						a(href="#").footer-nav__title.footer-nav__title--link ССЫЛКИ

		
		.footer-info.bg-d-blue
			.f-container.f-container--footer-info
				.footer-info__contact
					.footer-info__label 162600, г. Череповец, спорткомплекс  "Юбилейный", ул. Ленина 125
					a(href="#").footer-info__value 8 (8202) 57-58-59

				.footer-info__phone
					.footer-info__label Телефон для справок по приобретению билетов: 
					a(href="#").footer-info__value 8 (8202) 58-66-80

				.footer-info__social.bg-l-blue
					ul.list-soc
						li.list-soc__item
							a(href="#")
								+icon(2, "small-icon")

						li.list-soc__item
							a(href="#")
								+icon(3, "big-icon")

						li.list-soc__item
							a(href="#")
								+icon(4)

						li.list-soc__item
							a(href="#")
								+icon(5)

						li.list-soc__item
							a(href="#")
								+icon(6)
		.footer-bottom
			.f-container.f-container--footer-bottom
				.wrap-copy
					.footer-bottom__copy © 1999-2017 гг. При использовании материалов сайта ссылка на него обязательна.
					a(href="#").footer-bottom__privat Пользовательское соглашение

				.wrap-webest
					span разработано
					a(href="#").footer-bottom__webest
						+icon(1)


mixin footer__custom
	footer.footer
		.bg-gray
			.f-container
				.footer-nav

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu МАТЧИ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item МАТЧИ "СЕВЕРЯНКА"
							a(href="#").footer-nav__item МАТЧИ "СЕВЕРЯНКА-2"
							a(href="#").footer-nav__item МАТЧИ "СЕВЕРЯНКА-3"

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu КЛУБ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item НОВОСТИ КЛУБА
							a(href="#").footer-nav__item ИСТОРИЯ
							a(href="#").footer-nav__item КОНТАКТЫ
							a(href="#").footer-nav__item ДЛЯ СКАЧИВАНИЯ
							a(href="#").footer-nav__item ВОЛЕЙБОЛЬНЫЙ ЦЕНТР
							a(href="#").footer-nav__item ГОРОДСКАЯ ФЕДЕРАЦИЯ

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu КОМАНДЫ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item "СЕВЕРЯНКА"
							a(href="#").footer-nav__item "СЕВЕРЯНКА-2"
							a(href="#").footer-nav__item "СЕВЕРЯНКА-3"

					.footer-nav__col
						butoon.footer-nav__title.js-toggle-footer-menu СОРЕВНОВАНИЯ
							+icon(14, 'toogle-icon')
						.footer-nav__list
							a(href="#").footer-nav__item ЧЕМПИОНАТ РОССИИ
							a(href="#").footer-nav__item КУБОК РОССИИ

					.footer-nav__col.footer-nav__col--not-list
						a(href="#").footer-nav__title.footer-nav__title--link СТАТИСТИКА
						a(href="#").footer-nav__title.footer-nav__title--link АРХИВ
						a(href="#").footer-nav__title.footer-nav__title--link О ВОЛЕЙБОЛЕ
						a(href="#").footer-nav__title.footer-nav__title--link ССЫЛКИ

		
		.footer-info.bg-d-blue
			.f-container.f-container--footer-info
				.footer-info__contact
					.footer-info__label 162600, г. Череповец, спорткомплекс  "Юбилейный", ул. Ленина 125
					a(href="#").footer-info__value 8 (8202) 57-58-59

				.footer-info__phone
					.footer-info__label Телефон для справок по приобретению билетов: 
					a(href="#").footer-info__value 8 (8202) 58-66-80

				.footer-info__social.bg-l-blue
					ul.list-soc
						li.list-soc__item
							a(href="#")
								+icon(2, "small-icon")

						li.list-soc__item
							a(href="#")
								+icon(3, "big-icon")

						li.list-soc__item
							a(href="#")
								+icon(4)

						li.list-soc__item
							a(href="#")
								+icon(5)

						li.list-soc__item
							a(href="#")
								+icon(6)
		.footer-bottom
			.f-container.f-container--footer-bottom
				.wrap-copy
					.footer-bottom__copy © 1999-2017 гг. При использовании материалов сайта ссылка на него обязательна.
					a(href="#").footer-bottom__privat Пользовательское соглашение

				.wrap-webest
					span разработано
					a(href="#").footer-bottom__webest
						+icon(1)

mixin local_popup
	.modal



mixin card__big_predsto
	.card-match.card-match--big

			.card-match__media-team
				.card-match__team
					.card-match__team-logo(style="background-image: url('/img/primor.png')")
					.card-match__team-name Приморочка
					.card-match__team-location Приморский край

				.card-match__vs VS

				.card-match__team
					.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
					.card-match__team-name Северянка
					.card-match__team-location Череповец

			.card-match__team.card-match__team-desctop
				.card-match__team-logo(style="background-image: url('/img/primor.png')")
				.card-match__team-name Приморочка
				.card-match__team-location Приморский край

			.card-match__info.bg-gray
				.card-match__location.card-match__location--home Дома

				.card-match__info-header
					.card-match__type Чемпионат России 2016-2017. Женщины. Высшая лига "А"
					.card-match__date--header
						.card-match__date-day 4 ОКТЯБРЯ
						.card-match__date-time 20:00

				.card-match__info-footer
					.card-match__date 25 СЕНТЯБРЯ, 15:00
						span Г. САНКТ-ПЕТЕРБУРГ
					button.card-match__stadium.js-toggle-stadium-map СК "Юбилейный"
						span ул. Латыжских стрелков, 125 

			.card-match__team.card-match__team-desctop
				.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
				.card-match__team-name Северянка
				.card-match__team-location Череповец

		.card-match__location-map
			img(src="/img/map-match.png", alt="")


mixin card__big_proshed
	.card-match.card-match--big

			.card-match__media-team
				.card-match__team
					.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
					.card-match__team-name Северянка
					.card-match__team-location Череповец

				.card-match__vs VS

				.card-match__team
					.card-match__team-logo(style="background-image: url('/img/primor.png')")
					.card-match__team-name Приморочка
					.card-match__team-location Приморский край

			.card-match__team.card-match__team-desctop
				.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
				.card-match__team-name Северянка
				.card-match__team-location Череповец

			.card-match__info.bg-gray
				.card-match__location Выезд

				.card-match__info-header
					.card-match__type Регулярный чемпионат
					.card-match__score 3:0
					.card-match__result 25:18  25:22  15:25  25:15 25:18  25:22

				.card-match__info-footer.type-proshedsh
					.card-match__date 25 СЕНТЯБРЯ, 15:00
						span Г. ЧЕРЕПОВЕЦ
					button.card-match__stadium.js-toggle-stadium-map СК "Юбилейный"
						span ул. Ленина, 125
					button.card-match__video
						+icon(6)
				
			.card-match__team.card-match__team-desctop
					.card-match__team-logo(style="background-image: url('/img/primor.png')")
					.card-match__team-name Приморочка
					.card-match__team-location Приморский край
					
		.card-match__location-map
			img(src="/img/map-match.png", alt="")

mixin player-card--small(add_class)
	- add_class = add_class || ''
	.player-card.player-card--small.player-card--link(class=add_class)
		.player-card__header-bgi
		.player-card__content
			.player-card__header
				.player-card__photo(style="background-image: url(/img/Lysaya.JPG)")
				.player-card__info
					.player-card__name КСЕНИЯ КРАВЧЕНКО
					.player-card__team СЕВЕРЯНКА
					.player-card__status Доигровщик
				.player-card__number
					sup №
					span 30
			.player-card__static

				.title-default.title-default--small.title-default--white
					span СТАТИСТИКА ИГРОКА

				.player-card__static-wrap
					.player-card__static-value
						.player-card__static-number 18
						.player-card__static-title ЗАБИТЫХ МЯЧЕЙ 

					.player-card__static-value
						.player-card__static-number 24
						.player-card__static-title КОЛИЧЕСТВО ИГР

					.player-card__static-value
						.player-card__static-number 10
						.player-card__static-title СЫГРАННЫХ СЕТОВ




mixin card-match--full_proshed
	.card-match.card-match--full

		.card-match__location.card-match__location--home  Дома

		.card-match__video
			+icon(6)
			.card-match__video-day 25 СЕНТЯБРЯ, 15:00

		.card-match__info

			.card-match__team.card-match__team--first
				.card-match__team-wrap
					.card-match__team-name Приморочка
					.card-match__team-location Приморский край
				.card-match__team-logo(style="background-image: url('/img/primor.png')")

			.card-match__vs VS

			.card-match__team.card-match__team--two
				.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
				.card-match__team-wrap
					.card-match__team-name Северянка
					.card-match__team-location Череповец

		.card-match__detaile
			.card-match__type Чемпионат России 2016-2017. Женщины. Высшая лига 
			a(href="#").link-mit-arrow
				span Детали матча
				span.link-mit-arrow__icon
					+icon(16)


mixin card-match--full_predsto
	.card-match.card-match--full

		.card-match__location.card-match__location--home  Дома

		.card-match__date
			.card-match__date-day СЕГОДНЯ
			.card-match__date-time 20:00

		.card-match__info

			.card-match__team.card-match__team--first
				.card-match__team-wrap
					.card-match__team-name Приморочка
					.card-match__team-location Приморский край
				.card-match__team-logo(style="background-image: url('/img/primor.png')")

			.card-match__vs VS

			.card-match__team.card-match__team--two
				.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
				.card-match__team-wrap
					.card-match__team-name Северянка
					.card-match__team-location Череповец

		.card-match__detaile
			.card-match__type Регулярный чемпионат
			a(href="#").link-mit-arrow
				span Детали матча
				span.link-mit-arrow__icon
					+icon(16)


mixin card-match--small(add_class)
	- add_class = add_class || ''
	.card-match.card-match--small(class=add_class)
		.card-match__location Выезд
		.card-match__type Регулярный чемпионат
		.card-match__info
			.card-match__team
				.card-match__team-logo(style="background-image: url('/img/primor.png')")
				.card-match__team-name Приморочка
				.card-match__team-location Приморский край
			.card-match__date
				.card-match__date-day СЕГОДНЯ
				.card-match__date-time 20:00
			.card-match__team
				.card-match__team-logo(style="background-image: url('/img/severjanka.png')")
				.card-match__team-name Северянка
				.card-match__team-location Череповец