@import 'base/variables'
@import  'helpers/include'
@import  'base/fonts'
@import 'base/sprite'
@import 'base/table'
@import 'pages/contact'

// стили для юлоков админки
.photo-map__mark-content
  input
    display: block
    border-radius: 3px
    border-color: $gray
    outline: none
    border: none
    margin-bottom: 10px
    padding: 5px 10px

#js-photo-map
  img
    width: 1240px
  .photo-map__mark
    height: 40px
    width: 40px
    &.show-mark-content
      height: auto
      width: auto
    &-delete
      font-size: 8pt
      margin-top: 20px

.photo-map
  display: inline-block
  position: relative
  &__img
    position: relative

  &__radio-wrap
    display: flex
    width: 150px
    label
      margin-left: 10px

  &__mark

    position: absolute
    top: 90%
    left: 100px

    &-action
      width: 22px
      height: 22px
      border-radius: 50%
      background-color: #fff
      border: none
      box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.6)
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-items: center
      justify-content: center
      padding: 0
      cursor: pointer
      transition: background ease .3s
      float: left

    &-icon
      font-size: 8px !important
      color: $l-blue
      margin-right: -1px
      transition: color ease .3s, transform linear .3s

    &-content
      background-color: rgba(255,255,255, .85)
      padding: 10px 13px
      border-radius: 2px
      margin-left: 35px
      margin-top: -5px
      transform: scale(0)
      transition: transform ease .3s
      z-index: 2
      position: relative
      min-width: 300px
      &:after
        +arrow_css(rgba(255,255,255, .9), 7px)
        top: 10px
        left: -7px
        transform: rotate(90deg)

    &-title
      font-size: 11pt
      color: #333

    &-text
      font-size: 11pt
      color: #8E98AD
      padding-top: 5px
      padding-bottom: 10px

    &-delete
      color: #fff
      background-color: #006BBD
      transition: background-color ease .3s

    &-link
		  .link-mit-arrow__icon
      background-color: transparent
      margin-left: 0
      .icon
        color: $l-blue
        margin-bottom: -2px

.btn--blue
  color: #fff
  background-color: #006BBD
  transition: background-color ease .3s
  border: none
  display: block
  font-size: 11pt
  padding: 0.9em 1.3em
  box-shadow: none
  line-height: 1em

.show-mark-content
  .photo-map__mark
    &-action
      background-color: $l-blue
    &-icon
      color: #fff
      transform: rotate(45deg)
    &-content
      transform: scale(1)
