button 
	outline: none !important
	font-family: clearsans

.btn
	border : none
	display: block
	font-size: 11pt
	padding: 0.9em 1.3em
	box-shadow: none
	line-height: 1em

.btn--blue
	color: #fff
	background-color: $l-blue
	transition: background-color ease .3s
	&:hover
		background-color: #008CF7
		cursor: pointer

.btn--green
	color: #fff
	background-color: green
	transition: background-color ease .3s
	&:hover
		background-color: #008CF7
		cursor: pointer

.btn--radius
	border-radius: 2.5rem

.close-btn
	color: #fff
	padding: 25px
	border: none
	background-color: transparent
	cursor: pointer
	.icon
		font-size: 13px
