@mixin font_face($file_name,$font_name:$file_name,$path:$font_path,$weight:normal,$style:normal) 
	@font-face 
		font-family: quote($font_name)
		src: url($path + $file-name + ".eot")
		src: url($path + $file-name + ".eot?#iefix") format("embedded-opentype"), url($path + $file-name + ".woff") format("woff"), url($path + $file-name + ".ttf") format("truetype"), url($path + $file-name + ".svg##{$font_name}") format("svg")
		font-weight: $weight
		font-style: $style

+font_face("clearsans", "clearsans", "../fonts/clearsans/")
+font_face("clearsanslight", "clearsanslight", "../fonts/clearsanslight/")
+font_face("clearsansmedium", "clearsansmedium", "../fonts/clearsansmedium/")