//Набор стилей для таблиц

.b-table
	position: relative
	padding: 30px 34px
	padding-bottom: 25px


	table
		width: 100%
		*
			font-weight: normal
			text-align: right
			font-family: clearsanslight
		.t-a-l
			text-align: left

	thead
		font-size: 10pt
		color: #98A3B8
		th
			border-bottom: 1px solid #D6DAE3
			padding-bottom: 10px
			text-align: right
		

	tbody
		th
			padding-top: 8px
			color: #8E98AD
	th
		&:first-child
			padding-left: 10px
		&:last-child
			padding-right: 34px 

// модификатор выравния содержимого по центру
.table--center
	thead
		th
			text-align: center
	tbody
		th
			text-align: center

// модификатор стилей для серого фона таблицы
.table-gray
	table
		padding-bottom: 10px
		border-bottom: 1px solid #D6DAE3

	thead
		color: #98A3B8
		th
			border-bottom: 1px solid #D6DAE3

	tbody
		th
			color: #8E98AD

	.color
		color: #333



// модификатор стилей подсвечивания первой строки тела таблицы 
.table-color-first-row--blue
	tbody
		tr:first-of-type
			th
				color: $l-blue

// модификатор стилей для выделения текста на сером фоне
.table-gray
	.color
		color: #333

// модификатор стилей для таблиц с белым фоном
.table-white
	background: #fff
	overflow: hidden
	border: 1px solid #D6DAE3

	thead
		position: relative
		th
			border-bottom: none
			color: $l-blue
			font-family: clearsansmedium
		&::after
			position: absolute
			height: 1px
			left: -40px
			right: -40px
			content: ''
			border-bottom: 1px solid #B5BBC9
	tbody
		tr
			position: relative
			&::after
				position: absolute
				height: 1px
				left: 0
				right: 0
				bottom: 0
				content: ''
				border-bottom: 1px solid #D6DAE3
			&:last-of-type
				&::after
					display: none
				th
					padding-bottom: 0
					border-bottom: none

			&:last-of-type:not(.table__last-content)
				&::after
					display: none
				th
					padding-bottom: 0
					border-bottom: none

			&:first-of-type
				th
					padding-top: 14px 
		th
			padding: 10px 0 11px
	.color
		color: #333

.table-shadow
	box-shadow: 0px 0px 9px 1px #D6DAE3

// стили заголовка таблицы
.table-label
	position: absolute
	right: -1px
	top: -1px
	font-size: 8.5pt
	padding: 5px 12px
	color: #fff
	border-radius: 0 0 0 5px
	line-height: 1em

// стили заголовка таблицы на сером фоне
.table-gray
	background-color: $gray

	.table-label
		background-color: #8E98AD

.table-title
	font-size: 11pt
	color: #333
	padding-bottom: 15px

.table-container
	
// стили ссылки после таблицы
.table-link--footer
	color: $l-blue
	font-size: 11pt
	text-decoration: none
	font-weight: normal
	padding-top: 15px
	display: inline-block
	.icon
		font-size: 8px

.table__footer-text
	text-align: left !important
	font-size: 10pt
	color: #8E98AD 
	padding-bottom: 25px !important
	padding-top: 30px !important

.blue
	color: $l-blue
	
// стили блока с информацией
.table__info-team
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: flex-start
	margin-bottom: 40px
	&-logo
		height: 50px
		padding-right: 25px
	&-name
		font-size: 14pt
		font-family: clearsansmedium
		color: #000
	&-location
		color: #6F7D9D
		font-size: 10pt

.p-r-20
	padding-right: 20px !important

.w-1-3
	width: 33%


.table-description
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	margin-bottom: 25px
	justify-content: space-between
	&__title
		font-size: 14pt
		color: #333
	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
		flex-wrap: wrap
		display: -webkit-inline-flex
		display: -moz-inline-flex
		display: -ms-inline-flex
		display: -o-inline-flex
		display: inline-flex
	&__item
		font-size: 11pt
		color: #8E98AD
		width: 100px
		font-weight: normal
		text-align: left
		padding-left: 30px
		.value
			color: $l-blue
		.delmiter
			margin-left: 5px
			margin-right: 5px
		.description

.color-dark
	color: #333 !important

.color-gray
	color: #8E98AD !important

.color-red
	color: #993377 !important

.th-is-empty
	&:empty
		position: relative
		overflow: hidden
		&:before
			content: ''
			left: 50%
			display: inline-block
			top: 14px
			bottom: 14px
			width: 1px
			position: absolute
			background-color: #AFBAD1

.th--blue
	background-color: $l-blue
	color: #fff !important

.table--color-element
	border-collapse: collapse
	margin-bottom: 30px
	tbody
		transform: translateY(2px)
		tr
			&:last-child
				th
					padding-bottom: 11px !important

.table--bg-row
	padding-left: 0
	padding-right: 0
	table
		border-collapse: collapse

	tbody
		transform: translateY(2px)
	th
		&:last-child
			padding-right: 34px !important
	
		&:first-child
			padding-left: 34px !important

.tr--bg-gray
	background-color: #EBEFF5
	th
		padding-bottom: 11px !important

.wrap-table__teams
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	margin-left: 50px
	margin-right: 50px

.table__team
	font-size: 10pt
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	width: 40%
	&:last-child
		justify-content: flex-end
		.table__team
			&__info
				padding-right: 0
				text-align: left
			
	&:first-child
		.table__team
			&__info
				padding-right: 0
	&__logo
		width: 50px
		flex-basis: 50px
		height: 50px
		+bgi
		background-size: cover
	&__info
		text-align: center
		padding-left: 20px
		padding-right: 20px
		flex: 1

	&__name
		color: #333
		text-align: left !important

	&__city
		color: #8E98AD
		text-align: left !important

	&__vs
		color: #8E98AD
		flex: 1
		text-align: center !important



