.info-item
	&:first-child
		padding-right: 40px
	&__title
		font-size: 14pt
		color: $l-blue
		margin-bottom: 30px
	&--mb
		margin-bottom: 45px
	&--blue-color
		color: $l-blue !important
	&__content
		p
			font-size: 11pt
			color: #333
			line-height: 1.6
		a
			color: $l-blue
			&:hover
				text-decoration: none

		.phone-link
			color: $l-blue
			font-size: 14pt
			text-decoration: none
			display: table
			margin-bottom: 5px
			
		table
			width: 100%
			border-collapse: collapse
			tr
				th
					font-weight: normal
					font-size: 11pt
					border-bottom: 1px solid #E6E6E6
					padding-bottom: 5px
					padding-top: 5px
					&:first-child
						text-align: left
					&:last-child
						text-align: right

				&:first-child
					th
						padding-top: 0
				&:last-child
					th
						border-bottom: none

.wrap-info-item--flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	.info-item
		width: 50%

.contact-map
	margin-top: 40px
	margin-bottom: 40px
	img
		max-width: 100%


.coaching-list--contact
	padding-top: 50px
	.coaching-list__item
		width: 33.3%


.wrap-load-files
	margin-bottom: 50px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	.load-files
		&__item
			width: 20%
			margin-bottom: 40px
			padding-left: 10px
			padding-right: 10px
		&__photo
			width: 120px
			height: 120px
			+bgi
			border-radius: 50%
			background-color: #DFE3EB
			margin-bottom: 30px
			margin-left: auto
			margin-right: auto
			display: block
		&__link
			text-decoration: none
			color: $l-blue
			font-size: 11pt
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
		&__icon
			font-size: 18px
			margin-right: 12px


.page--volejbolnyj-centr
	margin-bottom: 60px


.wrap-links
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap

.links-item
	width: 30%
	margin-right: 2%
	margin-bottom: 35px

	&__title
		font-size: 14pt
		margin-bottom: 35px

	&__content
		a
			color: $l-blue
			font-size: 11pt
			display: table
			margin-bottom: 10px
			&:hover
				text-decoration: none



