.page-detali-proshed
	padding-bottom: 60px

.f-container--detail-match
	justify-content: space-between
	flex-wrap: wrap

	.player-card
		margin-bottom: 30px
		width: 48.5%

	.b-table
		margin-bottom: 30px

	.wrap-media-table--custom
		width: 48.5%

	.do-scroll
		display: none


.page-detali-predstojashego
	.b-subscribe
		margin-bottom: 60px