.page-home
.wrap-players-slider
	padding-top: 68px
	padding-bottom: 68px
	position: relative

.players-slider
	&__controls
		position: absolute
		z-index: 2
		left: -70px
		right: -70px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		top: 50%
		margin-top: -27px
	&__control
		width: 47px
		height: 47px
		border: 1px solid #AFBAD1
		border-radius: 50%
		background-color: $gray
		cursor: pointer
		padding: 0
		.icon
			color: $l-blue
			font-size: 10px
	&__prev
	&__next
