.page-news-list
	margin-bottom: 60px
	.b-subscribe
		margin-top: 45px


.container--news-list
	flex-wrap: wrap
	padding-bottom: 45px
	.grid-container
		align-items: stretch

	.b-pagination
		width: 100%
		text-align: center

	.pagination__list
		display: -webkit-inline-flex
		display: -moz-inline-flex
		display: -ms-inline-flex
		display: -o-inline-flex
		display: inline-flex

.news-item
	width: 31.3%
	margin-left: 1%
	margin-right: 1%
	margin-bottom: 30px

	&__photo
		width: 100%
		height: 240px
		+bgi
		display: block
		margin-bottom: 10px
		background-size: cover

	&__date
		color: #333
		font-size: 10pt
		font-family: clearsansmedium
		margin-right: 15px
		text-transform: uppercase

	&__location
		background-color: $l-blue
		padding: 10px 14px
		line-height: 1
		font-size: 11pt
		color: #fff
		display: inline-block

	&__title
		font-size: 14pt
		color: #333	
		margin-top: 15px
		margin-bottom: 15px
		text-decoration: none
		display: block
		transition: color ease .3s
		&:hover
			color: $l-blue

	&__description
		color: #333
		font-size: 10pt
		padding-bottom: 30px

	&--big
		width: 64.5%
		+bgi
		background-size: cover
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		.wrap-news-header
			justify-content: center
		.news-item
			&__date
				color: #fff
			&__location
			&__title
				font-size: 24pt
				color: #fff
				text-align: center
				max-width: 540px

	&--sidebar
		width: 100%
		margin-bottom: 45px
		margin-left: 0
		margin-right: 0
		.wrap-news-header,
		.news-item__title
			padding-left: 15px
			padding-right: 15px

.wrap-news-header
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	width: 100%



.f-container--current-news
	padding-bottom: 60px
	justify-content: space-between

.current-news
	width: 65%

	&__header
		padding-bottom: 20px
		border-bottom: 1px solid #D6DAE3
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		padding-top: 10px

	&__date
		color: #333
		font-family: clearsansmedium
		margin-right: 15px

	&__location
		background-color: $l-blue
		padding: 10px 14px
		line-height: 1
		font-size: 11pt
		color: #fff
		display: inline-block

	&__title
		font-size: 14pt
		color: #333
		padding-top: 40px
		padding-bottom: 30px

	&__content
		img
			padding-top: 20px
			padding-bottom: 20px
			max-width: 100%
		p
			font-size: 11pt
			font-family: clearsanslight
			color: #333
			line-height: 1.7
		padding-bottom: 60px
		border-bottom: 1px solid #D6DAE3

	&__footer
	&__social
		padding-top: 30px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		&-title
			color: #8E98AD
			font-size: 10pt
			font-family: clearsansmedium



.sidebar-news
	width: 30%
	&__title
		padding-bottom: 20px
		border-bottom: 1px solid #D6DAE3
		width: 100%
		font-size: 10pt
		font-family: clearsansmedium
		color: #8E98AD
		padding-top: 20px
		padding-bottom: 30px
		margin-bottom: 40px


.page-arhiv
	padding-bottom: 60px
	.b-pagination
		width: 100%
		text-align: center
	.pagination__list
		display: -webkit-inline-flex
		display: -moz-inline-flex
		display: -ms-inline-flex
		display: -o-inline-flex
		display: inline-flex

	.b-subscribe
		margin-top: 45px

.arhive-filter
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-start
	flex-wrap: wrap

.filter-select
	padding-bottom: 10px
	position: relative
	margin-left: 25px

	&__header
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex

	&__name
		font-size: 11pt
		color: #8E98AD
		margin-right: 10px

	&__current
		color: $l-blue
		font-size: 11pt
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		border: none
		background: none
		align-content: center
		cursor: pointer
		padding: 0
		&-value
			font-size: 11pt !important
			line-height: 1 !important
			display: block
		&-icon
			margin-left: 10px
			font-size: 5px
			margin-bottom: -2px
			transition: transform  ease .3s

		&.active
			.filter-select__current-icon
				transform: rotate(180deg)

	&__list
		position: absolute
		background-color: #fff
		min-width: 140px
		border: 1px solid #D6DAE3
		top: 40px
		left: 15px
		display: none
		z-index: 1

	&__item
		display: block
		font-size: 11pt
		color: #333
		width: 100%
		padding-top: 10px
		padding-bottom: 10px
		padding-left: 15px
		padding-right: 15px
		margin: 0
		border: none
		cursor: pointer
		background-color: #fff
		transition: background-color ease .3s
		text-align: left
		&:hover
			background-color: #E7EAF0
		&--active
			font-weight: bold
