.page--search
	.overlap
		color: $l-blue
.search-form--page
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: stretch
	margin-bottom: 50px

	.search-form__input
		background-color: #E7EAF0
		font-size: 14pt
		color: #333
		border: none
		flex: 1
		padding: 10px 13px

	.search-form__btn
		background-color: #D8DDE6
		padding: 0
		border: none
		flex-basis: 45px
		cursor: pointer
		width: 45%
		.icon
			font-size: 13px
			color: #AFBAD1



.wrap-search-result

.search-result

	&__item
		max-width: 630px
		margin-bottom: 50px

	&__title
		font-size: 14pt
		margin-bottom: 20px
		display: table
		color: #333
		&:hover
			text-decoration: none
			
	&__content
		font-size: 10pt
		color: #333
		line-height: 1.6
			