.container--team-page
	.title-links__item
		margin-left: 0
		padding-left: 5px
		padding-right: 5px
		.icon
			font-size: 7px
			margin-bottom: 1px

	.photo-map
		margin-bottom: 70px

	.b-table
		margin-bottom: 45px

	.b-subscribe
		margin-bottom: 60px

.photo-map
	display: inline-block
	position: relative
	&__img
		position: relative
		width: 1240px

	&__mark
		position: absolute
		z-index: 0
		&-action
			width: 22px
			height: 22px
			border-radius: 50%
			background-color: #fff
			border: none
			box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.6)
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			padding: 0
			cursor: pointer
			transition: background ease .3s
			float: left
		&-icon
			font-size: 8px !important
			color: $l-blue
			margin-right: -1px
			transition: color ease .3s, transform linear .3s
			
		&-content
			background-color: rgba(255,255,255, .85)
			padding: 10px 13px
			border-radius: 2px
			margin-left: 35px
			margin-top: -5px
			transform: scale(0)
			transition: transform ease .3s
			z-index: 2
			&:after
				+arrow_css(rgba(255,255,255, .9), 7px)
				top: 10px
				left: -7px
				transform: rotate(90deg)

		&-title
			font-size: 11pt
			color: #333
		&-text
			font-size: 11pt
			color: #8E98AD
			padding-top: 5px
			padding-bottom: 10px
		&-link
			.link-mit-arrow__icon
				background-color: transparent
				margin-left: 0
				.icon
					color: $l-blue
					margin-bottom: -2px


.show-mark-content
	z-index: 2
	.photo-map__mark
		&-action
			background-color: $l-blue
		&-icon
			color: #fff
			transform: rotate(45deg)
		&-content
			transform: scale(1)

.coaching-list
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: flex-start
	flex-wrap: wrap
	&__item
		width: 25%
		padding-right: 20px
		margin-bottom: 70px
	&__name
		color: #333
		font-size: 14pt
		padding-bottom: 10px
		max-width: 200px
	&__position
		font-size: 10pt
		color: $l-blue
		text-transform: uppercase

	&__email
		color: #8E98AD !important
		font-size: 11pt
		text-decoration: none
		margin-top: 10px
		display: block

	&--border-item
		position: relative
		&:after
			content: ''
			left: 0
			right: 
			display: block
			z-index: 2
			background-color: #fff
			height: 24px
			position: absolute
			width: 100%
			bottom: 0

		.coaching-list__item
			border-bottom: 1px solid #D6DAE3
			padding-bottom: 26px
			margin-bottom: 22px

.section--video
	max-width: 880px
	margin-left: auto
	margin-right: auto
	padding-top: 65px
	padding-bottom: 65px
	.wrap-frame
		height: 477px