.b-slider--partners
	max-height: 190px
	overflow: hidden
footer.footer


butoon.footer-nav__title
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: center

.footer-nav
	margin-left: -1%
	margin-right: -1%
	padding-top: 20px
	padding-bottom: 15px
	width: 100%
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	align-items: flex-start

	&__col
		width: 24%
		margin-left: 1%
		margin-right: 1%
		padding-bottom: 20px

	&__title
		font-size: 11pt
		color: #333
		font-family: clearsansmedium
		border-bottom: 1px solid #D6DAE3
		width: 100%
		padding-bottom: 18px
		display: block
		text-decoration: none
		padding-top: 15px
		transition: color ease .2s
		&--link
			padding-bottom: 18px
			&:hover
				color: $l-blue
		.toogle-icon
			color: #AFBAD1
			transition: transform linear .3s
			display: none

		&.active
			.toogle-icon
				transform: rotate(180deg)


	&__list
		padding-top: 20px

	&__item
		font-size: 10pt
		color: #333
		display: block
		text-decoration: none
		margin-bottom: 10px
		text-transform: uppercase
		transition: color ease .2s
		&:hover
			color: $l-blue

.footer-info

	&__contact
		padding: 15px 25px
		border-right: 1px solid #394869
		border-left: 1px solid #394869

	&__label
		color: #fff

	&__value
		display: block
		font-size: 14pt
		color: #fff
		text-decoration: none
		margin-top: 5px

	&__phone
		padding: 15px 25px
		flex: 1
		

	&__social
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		padding: 15px 40px

	.list-soc__item
		a
			&:hover
				color: #AFBAD1



.f-container--footer-bottom
	justify-content: space-between

.wrap-copy
	padding-top: 15px
	padding-bottom: 15px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between

.footer-bottom
	&__copy
		color: #7F838F
		max-width: 330px
		margin-right: 5%
	&__privat
		color: #7F838F
		text-decoration: none
		display: block
		white-space: nowrap

.wrap-webest
	padding-top: 15px
	padding-bottom: 15px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	color: #7F838F
	span
		margin-right: 10px
	.footer-bottom__webest
		text-decoration: none
		color: #7F838F
		.icon
			font-size: 25px

