
.container--header

.link-mit-arrow__icon
	display: flex !important
.media-menu
	padding: 35px 25px 0 25px
	position: fixed
	min-height: 100vh
	overflow-y: auto
	background-color: #fff
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 3
	display: -webkit-inline-flex
	display: -moz-inline-flex
	display: -ms-inline-flex
	display: -o-inline-flex
	display: inline-flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-start
	transform: translateX(-100%)
	transition: transform ease .3s
	min-height: 520px

	&.show-media-menu
		transform: translateX(0)

	&__toggle
		color: $l-blue
		font-size: 11pt
		font-family: clearsansmedium
		border: none
		background: none
		cursor: pointer
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		span
			height: 19px
			width: 19px
			display: inline-block
			+bgi
			margin-right: 10px

	&__content
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: flex-start
		flex: 1
		position: relative
		padding-top: 55px
		flex-basis: 360px
		overflow: hidden


	&__item
		font-size: 11pt
		width: 100%
		font-family: clearsansmedium
		color: #000
		border-bottom: 1px solid #D6DAE3
		padding-top: 12px
		padding-bottom: 12px
		text-decoration: none
		display: block

	&__lvl-back
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: flex-start
		border: none
		padding-left: 0
		padding-right: 0
		background: none
		color: #AFBAD1
		font-size: 11pt
		font-family: clearsansmedium
		cursor: pointer
		.icon
			font-size: 10px
			margin-bottom: -2px
			margin-right: 15px

	&__search
		width: 100%
		padding-bottom: 25px
		.b-search-form
			.input
				font-size: 11pt
	

button.media-menu__item
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	padding-left: 0
	background: none
	border: none
	border-bottom: 1px solid #D6DAE3
	align-items: center
	justify-content: space-between
	cursor: pointer
	padding-right: 10px
	.icon
		color: $l-blue
		font-size: 10px
		margin-bottom: -2px
		margin-left: 15px

.wrap-menu-liks
	//display: none
	width: 100%
	padding-bottom: 25px
	transition: transform ease .3s
	&.show-lvl-menu
		transform: translateX(-110%)


.wrap-menu-lvl
	width: 100%
	position: absolute
	top: 55px
	transform: translateX(150%)
	transition: transform ease .3s
	&.show--this-lvl-menu
		transform: translateX(0)
.btn-media-menu
	+bgi
	height: 19px
	width: 19px
	border: none
	background-color: transparent
	padding: 10px
	cursor: pointer
	display: none

.header
	font-size: 10pt
	border-bottom: 1px solid #DFE3EB
	&__map-data
		padding: 16px 30px
		border-left: 1px solid #394869
		border-right: 1px solid #394869
		a
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			color: #fff
			line-height: 1em
			text-decoration: none

		.icon
			font-size: 16px
			margin-right: 13px

		span
			border-bottom: 1px solid transparent
			transition: border ease .3s
			padding-bottom: 2px

		&:hover
			span
				border-bottom: 1px solid

		.media-show
			display: none

	&__soc-list
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		color: #fff
		align-items: center
		padding-left: 30px
		padding-right: 30px
		

	&__sponsor
		padding-left: 29px
		padding-right: 29px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		color: #fff
		flex: 1
		img
			margin-left: 25px

.b-select-language
	width: 64px
	border-left: 1px solid #394869
	border-right: 1px solid #394869
	position: relative

.select-language__selected
	width: 100%
	color: #fff
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: center
	align-items: center
	padding-top: 16px
	padding-bottom: 16px
	cursor: pointer
	border: none
	padding-left: 0
	padding-right: 0
	z-index: 3
	position: relative
	.icon
		font-size: 5px
		margin-left: 6px
		transition: transform ease .3s, color ease .3s
		//transform: rotate(180deg)
		
	&:hover
		.icon
			color: #008CF7
.language
	&__list
		position: absolute
		z-index: 2
		transform: translateY(-250px)
		transition: transform ease .3s
	&__item
		width: 100%
		padding-top: 16px
		padding-bottom: 16px
		border: 1px solid #D6DAE3
		margin-bottom: -1px
		background-color: #fff
		transition: background-color ease .3s
		cursor: pointer
		&:hover
			background-color: $gray

.js-show-select-language
	.togle-arrow
		transform: rotate(180deg)
	.language__list
		transform: translateY(0)

.list-soc
	padding-left: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	&__item
		list-style-type: none
		display: inline-block
		margin-left: 7px
		margin-right: 7px
		.icon
			font-size: 15px
			&.small-icon
				font-size: 10px

			&.big-icon
				font-size: 17px
		a
			color: #fff
			transition: color ease .3s
			&:hover
				color: #008CF7


.wrap-header-nav
	align-items: center
	padding-top: 25px
	padding-bottom: 25px
	.logo
		width: 200px
	.header__nav
		padding-left: 15px
		padding-right: 15px
		flex: 1
		&-list
			padding-left: 0
		&-item
			display: inline-block
			margin-left: 14px
			margin-right: 14px
			a
				text-decoration: none
				color: #000
				font-family: clearsansmedium
				text-transform: uppercase
				transition: color ease .3s
				&:hover
					color: $l-blue

.header-search
	flex-basis: 330px

.b-search-form
	border-bottom: 1px solid #AFBAD1
	transition: border-bottom ease .3s
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: flex-end
	.input
		border: none
		color: #AFBAD1
		font-size: 11pt
		font-family: clearsansmedium
		padding: 6px 0
		width: 100%
	&:hover
		border-bottom: 1px solid $l-blue

.send-search
	border: none
	background-color: transparent
	padding: 6px
	cursor: pointer
	.icon
		font-size: 13px
		color: #AFBAD1

.f-container--popup-nav
	justify-content: space-between
	height: 100vh

.f-container--nav-one
	justify-content: center
	border-left: 1px solid #AFBAD1
	border-right: 1px solid #AFBAD1

.popup-nav
	background-color: rgba(136,152,173, 0.9)
	position: fixed
	top: 0
	bottom: 0
	left: 0	
	right: 0
	z-index: 3
	transform: scale(0)
	opacity: 0
	transition: transform ease .3s, opacity ease .3s

	&.js-show-popup-nav
		transform: scale(1)
		opacity: 1


	&__col
		width: 34%
		border-left: 1px solid #AFBAD1
		border-right: 1px solid #AFBAD1
		margin-left: -1px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center

	&__content

.close-btn--popup-nav
	position: absolute
	top: 20px
	right: 20px

.popup-nav__title
	color: #fff
	font-size: 18pt
	padding: 0 5px 28px
	border-bottom: 2px solid #fff
	display: inline-block
	margin-top: 50px
	margin-bottom: 20px

.one-row-nav
	text-align: center

	.logo
		width: 100%

	&__list
		padding-left: 0
		text-align: center

	&__item
		list-style-type: none
		margin-top: 15px
		margin-bottom: 15px
		text-transform: uppercase
		font-size: 14pt
		a
			color: #fff
			text-decoration: none
			transition: color ease .3s
			&:hover
				color: $l-blue

.popup-nav__col--team
	position: relative
	&:hover
		transition: background-image ease 1s
		&:before
			opacity: 1
		&:after
			opacity: 0.7

	&:before
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		content: ''
		+bgi()
		background-image: url("/img/Lysaya.jpg")
		background-size: cover
		z-index: 1
		opacity: 0
		transition: ease opacity  .3s

	&:after
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		content: ''
		z-index: 2
		background-color: rgb(29,130,202)
		opacity: 0
		transition: opacity ease .2s

	.popup-nav__content
		z-index: 3

.popup-nav__col--team
	&:first-of-type
		&:before
			background-image: url("/img/Kravchenko.jpg")
	&:last-of-type
		&:before
			background-image: url("/img/Kravchenko.jpg")
.team-nav
	text-align: center

.wrap-b-nearest-games
	overflow: hidden
	padding-bottom: 15px

.b-nearest-games

.container--nearest-games
	flex-wrap: wrap

	&.js-show-games
		.circle__arrow
			.icon
				transform: rotate(-180deg)
		.nearest-games__body
			margin-top: 0

.nearest-games

	&__header
		width: 100%

	&__show
		border: none
		background-color: inherit
		color: #006BBD
		font-size: 10pt
		font-family: clearsansmedium
		text-align: center
		position: relative
		cursor: pointer
		span
			z-index: 2
			position: relative

	&__body
		width: 100%
		transition: margin-top linear .2s
		padding-top: 20px
		margin-top: -230px


	&__title
		text-align: center
		padding-top: 20px
		width: 100%
		color: $l-blue
		z-index: 1

.circle__arrow
	width: 47px
	height: 40px
	padding: 0 !important
	border-radius: 50%
	font-size: 5px
	z-index: 1 !important
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center
	background-color: $gray
	margin-bottom: -15px
	margin-left: auto
	margin-right: auto

	.icon
		font-size: 8px
		transition: transform ease .3s

.b-tabs--matches
	padding-top: 60px
	padding-bottom: 60px

.wrap-matches-tabs__container
	display: none

#matches-tabs-1
	display: block

.matches-tabs
	&__header
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: flex-start
		border-bottom: 1px solid #D6DAE3

	&__title
		font-size: 20pt
		color: #333
		background-color: #fff
		transform: translateY(1px)
		padding-bottom: 1px
		padding-right: 15px
		line-height: 1em

	&__controls
		font-size: 11pt

	&__control
		color: $l-blue
		padding: 0
		padding-bottom: 10px
		margin-left: 25px
		margin-right: 25px
		border: none
		border-bottom: 1px solid transparent
		background: none
		cursor: pointer
		transition: color ease .3s
		&.active
			color: #333
			border-bottom: 1px solid
		&:hover
			color: #333

	&__link-calendar

	&__container
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		padding-top: 60px


	&__cards
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		
		flex-wrap: wrap
		width: 66%
		.wrap-card-match
			width: 100%
			flex-wrap: wrap
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between
			align-self: flex-start
		.card-match
			margin-bottom: 25px


	&__more
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		.link-mit-arrow
			margin-left: auto
			margin-right: auto

	&__result
		width: 32%

	&__last-result
		&>.card-match__location
			display: none
			z-index: 2

	&__turnir-table
		.b-table
			margin-top: 25px


.b-subscribe
	width: 100%
	margin-bottom: 0


.container--matches-tabs
	.b-subscribe--media
		display: none

.wrap-home-slider
	overflow: hidden
	position: relative
	margin-top: -15px

.wrap-home-slide-information
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	z-index: 2
	max-width: 300px
	transition: opacity ease .3s

.wrap-home-slider--media
	display: none

	.lSSlideOuter .lSPager.lSpg 
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: -ms-flexbox
		display: flex
		-ms-flex-pack: start
		justify-content: flex-start
		-ms-flex-align: center
		align-items: center
		padding-top: 15px
		margin-top: 0
		margin-left: 20px

	.lSSlideOuter .lSPager.lSpg li 
		display: inline-block
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: -ms-flexbox
		display: flex
		-ms-flex-align: center
		align-items: center
		height: 22px

	.lSSlideOuter .lSPager.lSpg .active a 
		background-color: #006BBD
		height: 10px
		width: 10px




.home-slider
	height: 600px
	transform: translate3d(0px,0,0)
	transition: transform ease .6s
	&__item
		// display: -webkit-flex
		// display: -moz-flex
		// display: -ms-flex
		// display: -o-flex
		// display: flex
		// align-items: center
		width: calc(100vw * 0.2)
		height: 600px
		float: left
		+bgi
		background-size: cover
		position: relative
		transition: all ease .5s
		position: relative
		&:not(.active)
			overflow: hidden
			.home-slider
				&__date

				&__city
					font-size: 11pt
					padding: 5px 10px
					background-color: #37467A
					color: #fff
					margin-left: 15px
					
				&__title
					font-size: 13pt

				&__link
					display: none

		&:after
			content: ''
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background-color: rgba(36,113,145,0.5)
			transition: background ease .9s
			z-index: 1

		&.active
			flex: 1
			flex-basis: calc(100% - 780px) !important
			max-width: 
			width: calc(100vw * 0.6)
			&:after
				background-color: rgba(36,113,145,0)

			.home-slider__content
				padding: 25px 80px

			.wrap-home-slide-information
				max-width: 500px
				
		&--media
			.home-slider__content
				width: 100%
				padding: 65px 30px 30px

			.wrap-home-slide-information
				max-width: 700px

		&.leaves--slider
			.wrap-home-slide-information
				opacity: 0
				transition: opacity ease .3s
				

		&--first
			&.active
				.home-slider__control
					position: absolute
					right: -20px
					z-index: 3
					margin-top: 2px
					transform: scale(1)
					top: 50%
			.home-slider__control
				position: absolute
	&__date
		color: #fff
		font-family: clearsansmedium
		font-size: 10pt

	&__city
		font-size: 11pt
		padding: 5px 10px
		background-color: #37467A
		color: #fff
		margin-left: 15px
		

	&__title
		text-decoration: none
		font-size: 24pt
		margin-top: 10px
		color: #fff
		line-height: 1.5
		//transition: font-size ease .3s
		width: 100%


	&__link
		text-decoration: none
		margin-top: 25px

	&__content
		width: calc(100vw * 0.6)
		height: 100%
		+bgi
		background-size: cover
		padding: 25px 44px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center

		&-header
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			width: 100%

	&__controls
		position: absolute
		top: 50%
		margin-top: -16px
		width: calc(100vw * 0.6)
		left: calc(100vw * 0.2)

		&.show-controls
			.home-slider__control
				transform: scale(1)
		&:not(.show-controls)
			.home-slider__control
				transform: scale(0) !important

	&__control
		background-color: #E7EAF0
		height: 37px
		width: 37px
		border-radius: 50%
		border: none
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		padding: 0
		transform: scale(0)
		transition: transform ease .6s
		
	
		&--prev
			position: absolute
			left: -16px
		&--next
			position: absolute
			right: -16px

		.icon
			color: $l-blue
			font-size: 8px
			
	

