@media only screen and (max-height : 900px)
	.home-slider
		height: 500px 
		
	.home-slider__item
		height: 500px

@media only screen and (max-width : 1241px)

	.container--header
		padding-left: 0 !important
		padding-right: 0 !important

	.wrap-header-nav
		flex-wrap: wrap
		justify-content: space-between
		padding-bottom: 10px

		.header__nav
			width: 100%
			flex: auto
			order: 3
			padding-left: 0
			margin-top: 15px

		.header-search
			flex-basis: 70%

		.header__nav-list

		.header__nav-item
			margin-left: 0
			margin-right: 30px

	.header__sponsor
		span
			display: none
		img
			margin-left: 0
	.card-match--full
		.card-match
			&__info
				padding-left: 50px
				padding-right: 50px
			&__detaile
				flex-basis: 200px
			&__date
				flex-basis: 200px

	.player-card__static-wrap
		padding-left: 0
		padding-right: 0

	.f-container--detail-match
		.b-table
			width: 100%

	.card-match--big .card-match__team
		flex-basis: 250px


	.wrap-photo-map-media
		overflow-x: scroll
		overflow-y: hidden
		padding-top: 10px
		padding-bottom: 10px

	.wrap-404
		padding-left: 20px
		padding-right: 20px

	.b-subscribe
		flex-wrap: wrap
		background-image: none
		.b-subscribe__title
			width: 100%
			text-align: center
			margin-bottom: 20px

	.section-all-page
		//display: none

	.container
		padding-left: 20px
		padding-right: 20px

	.show-media
		&--xl
			display: block !important
		&--xl-flex
			display: -webkit-flex !important
			display: -moz-flex !important
			display: -ms-flex !important
			display: -o-flex !important
			display: flex !important

	.hide-media--xl
		display: none

@media only screen and (max-width : 1110px)
	.wrap-home-slider
		display: none

	.wrap-home-slider--media
		display: block
		margin-top: -15px

	.home-slider__title
		line-height: 1.2
	.nearest-games__body
		margin-top: -300px

	.header__soc-list
		span
			display: none

	.matches-tabs__turnir-table
		.table-color-first-row--blue 
			th:last-child
				padding-right: 0 !important

	.container--matches-tabs
		.b-subscribe--media
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex

	.matches-tabs__container
		flex-wrap: wrap

	.matches-tabs__cards
		width: 100%
		padding-bottom: 25px
		.b-subscribe
			display: none
		.card-match--small
			height: auto !important

	.matches-tabs__result
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		align-items: stretch

		.matches-tabs__last-result
			width: 48.5%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			align-items: center
			justify-content: center
			background-color: #E7EAF0
			border: 1px solid #D6DAE3
			
			.card-match--small
				height: auto !important
				border: none
			.card-match__location
				display: none
		
		.matches-tabs__turnir-table
			width: 48.5%
			.b-table
				margin-top: 0

		.matches-tabs__last-result
			position: relative
			>.card-match__location
					display: block !important
					background-color: #8E98AD
	.card-match--small
		padding-left: 10px
		padding-right: 10px
		padding-bottom: 30px
		.card-match
			&__info
				flex-wrap: wrap
			&__team
				order: 2
				width: 50%
			&__date
				order: 1
				width: 100%
				padding-bottom: 15px

	.contents-mit-tiile--home
		.content-mit-tiile
			width: 100%

	.links-mathes-info
		.title-links__item 
			&:last-child
				display: none
			&.active
				margin-bottom: -1px

	.page-calendar
		.do-scroll
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
		.wrap-media-calendar
			overflow-x: scroll
			overflow-y: hidden
		.calendar,.lSSlideOuter,.wrap-calendar__months
			width: 1200px !important
			max-width: 1200px
	.f-container--detail-match
		.player-card
			width: 100%

		.wrap-media-table--custom
			width: 100%

	.player-card__header-bgi
		background-size: cover

	.player-card__static-value
		&:after
			right: 20px

@media only screen and (max-width : 1024px)
	.player-info__table
		padding: 15px 25px

@media only screen and (max-width : 992px)
	.wrap-home-slider--media
		margin-top: 0
	.b-tabs--matches
		padding-top: 30px

	.header__map-data
		.media-hidden
			display: none

		.media-show
			display: inline-block

	.matches-tabs
		&__header
			flex-wrap: wrap
			border-bottom: none
			padding-bottom: 20px

		&__title
			border-bottom: 1px solid #D6DAE3
			width: 100%
			margin-bottom: 30px
			span
				background-color: #fff
				margin-bottom: -2px
				padding-right: 10px

		&__controls
			width: 100%
			margin-bottom: 25px
			border-bottom: 1px solid #D6DAE3
			flex-wrap: nowrap
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex

		&__control
			margin-left: 0
			padding-bottom: 5px
			margin-bottom: -1px
			margin-right: 15px

	.matches-tabs__container
		padding-top: 10px


	.matches-tabs__result
		flex-wrap: wrap

	.matches-tabs__turnir-table
		width: 100% !important

	.matches-tabs__last-result
		width: 100% !important
		margin-bottom: 30px

	.wrap-b-nearest-games
		display: none

	.card-match--full
		.card-match
			&__info
				flex-direction: column
				padding-left: 10px
				padding-right: 10px
			&__vs
				padding-top: 10px
				padding-bottom: 10px
			&__team
				padding-left: 0 !important
				padding-right: 0 !important
				.card-match__team-wrap
					margin: 0
					order: 2
					//min-width: 150px
					*
						text-align: right !important

	.player-card__static-value
		&:after
			right: 10px

	.card-match--big
		flex-wrap: wrap
		justify-content: center
		.card-match__team-desctop
			display: none

		.card-match
			&__media-team
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				width: 100%
				justify-content: center

			&__vs
				padding-left: 15px
				padding-right: 15px
			&__team
				flex-basis: auto
				padding-top: 50px
				padding-bottom: 50px

			&__info
				order: 2
				width: 100%
				flex: auto
				padding-top: 30px

			&__result
				padding-bottom: 20px

			&__type
				padding-left: 10px
				padding-right: 10px

			&__date-time
				margin-bottom: 25px

			&__info-footer
				justify-content: center
				padding-left: 10px
				padding-right: 10px
				&.type-proshedsh
					padding-left: 0
					padding-right: 0

			&__date
				flex: 1
				text-align: right
				padding-right: 25px

			&__stadium
				padding-left: 25px
				flex-basis: 50%
				flex: 1


	.f-container--detail-match
		.wrap-media-table
			width: 100%

	.tab__controls--media
		border-bottom: 1px solid #D6DAE3
		margin-bottom: 35px

		.tab-controls__item
			margin-bottom: -1px
			margin-left: 0
			margin-right: 10px
			white-space: nowrap
			&.active
				border-bottom: 2px solid $l-blue

	.b-404
		&__content
			width: 50%
			flex-basis: 50%
		&__photo
			width: 40%

	.links-item
		width: 48%

	.wrap-info-item--flex
		flex-wrap: wrap
		.info-item
			width: 100%
			margin-bottom: 40px

	.wrap-load-files .load-files__item
		width: 25%

	.coaching-list--contact
		padding-top: 0

	.sidebar-news
		margin-top: 40px

	.time-history__line-item
		&:nth-child(odd)
			display: none

	.time-history__year
		margin-bottom: 25px

	.time-history__col
		padding-top: 25px
		height: auto
		padding-bottom: 0

	.news-item
		width: 48%
		&--big
			width: 100%
			height: 300px
		&--sidebar
			width: 60%

	.current-news
		width: 100%

	.sidebar-news
		width: 100%

	.f-container--current-news
		flex-wrap: wrap
	.footer-nav
		flex-wrap: wrap
		margin-left: 0
		margin-right: 0

	.footer-nav__col
		width: 25%
		margin-left: 0
		margin-right: 0
		order: 2

	.footer-nav__col--not-list
		width: 100%
		order: 1

		.footer-nav__title--link
			width: 25%
			display: inline-block

	.f-container--footer-bottom
		flex-wrap: wrap

	.wrap-copy
		width: 100%
		justify-content: flex-start

	.wrap-webest
		padding-top: 5px

	.footer-info__contact
		width: 50%
		border: none
		padding-left: 0

	.footer-info__phone
		width: 50%
		flex: auto
		border: none
		padding-left: 0

	.footer-info__label
		line-height: 1.5

	.footer-info__social
		background-color: $d-blue
		padding-left: 0
		padding-top: 0

	.f-container--footer-info
		flex-wrap: wrap

	.b-fotogalery
		flex-wrap: wrap
		justify-content: space-around
		margin-top: 25px

	.fotogalery-card
		width: 46%
		margin-bottom: 35px

	.show-media
		&--lg
			display: block !important
		&--lg-flex
			display: -webkit-flex !important
			display: -moz-flex !important
			display: -ms-flex !important
			display: -o-flex !important
			display: flex !important

	.hide-media--lg
		display: none

	.competition__item
		width: 20%

	.list-information__item
		width: 50%

	.b-subscribe
		flex-wrap: wrap

	.b-subscribe__title
		width: 100%
		text-align: center
		margin-right: 0
		padding-bottom: 20px

	.player-info__header
		flex-wrap: wrap

	.player-info__table
		margin-top: 45px
		width: 100%
		flex-basis: 100%
		position: relative
		padding-left: 0
		padding-right: 0
		&:after
			position: absolute
			content: ''
			background-color: #E7EAF0
			right: 100%
			left: -20px
			height: 100%
			bottom: 0
		&:before
			position: absolute
			content: ''
			background-color: #E7EAF0
			left: 100%
			right: -20px
			height: 100%
			bottom: 0

	.player-info__content
		padding-right: 0

	.wrap-media-table
		overflow-x: scroll
		overflow-y: hidden
		padding-top: 10px
		padding-bottom: 10px
		.b-table 
			width: 1024px
		.media-table__content-full
			width: 1024px

@media only screen and (max-width : 769px)
	.container--team-page
		.coaching-list__item
			width: 33%

	.btn-media-menu
		display: block

	.header__nav
		display: none

	.wrap-header-nav
		padding-top: 12px
		padding-bottom: 12px
		.logo
			img
				height: 46px

	.header__soc-list
		padding-left: 15px
		padding-right: 20px
	.header__map-data
		display: none

	.header-search.hidden-media
		display: none

	.container-video
		flex-wrap: wrap
		.video--big
			width: 100%
			height: 180px
			margin-bottom: 30px
		.wrap-small-video
			width: 100%
		.video--small
			width: 100%
			height: 180px

	.b-slider__item--youtube
		display: none
		&:first-child
			display: -webkit-inline-flex
			display: -moz-inline-flex
			display: -ms-inline-flex
			display: -o-inline-flex
			display: inline-flex
			position: relative
			.video--small
				&:last-child
					display: none

	.slider--youtube
		display: inline-block


	.links-mathes-info
		border-bottom: 1px solid #D6DAE3

	.player-card__static-value
		&:after
			right: 0

	.f-container--detail-match
		.b-table
			max-width: 700px

	.wrap-load-files .load-files__item
		width: 33.3%

	.coaching-list--contact
		.coaching-list__item
			width: 50%
			margin-bottom: 40px
		.coaching-list__name
			max-width: 100%

	.coaching-list__item
		width: 50%

	.filter-select
		margin-left: 0
		margin-right: 25px
		margin-bottom: 10px

		&__list
			top: 25px

	.current-news__social
		flex-wrap: wrap
		&-title
			width: 100%
			margin-bottom: 15px

	.share__item
		margin-left: 0
		margin-bottom: 10px

	.footer-info__contact
		width: 100%

	.footer-info__phone
		width: 100%

	.title-default--mit-link
		span
			margin-bottom: 0
		.link-mit-icon
			padding-bottom: 0

	.b-fotogalery
		margin-top: 0

	.table-description
		flex-wrap: wrap
		&__title
			margin-bottom: 40px

	.table-description__item
		padding-left: 0
		padding-right: 30px

	.title-default--mit-link
		flex-wrap: wrap
		border: none !important
		.wrap-title-links
			width: 100%
			padding-top: 40px
			padding-bottom: 0
		.title-links__item
			&:first-child
				margin-left: 0

	.competition__item
		width: 25%

	.show-media
		&--md
			display: block !important
		&--md-flex
			display: -webkit-flex !important
			display: -moz-flex !important
			display: -ms-flex !important
			display: -o-flex !important
			display: flex !important

	.hide-media--md
		display: none

@media only screen and (max-width : 690px)

	.card-match--small
		width: 100%
		padding-top: 25px
		padding-bottom: 25px

	.container--list-matches
		padding-left: 0
		padding-right: 0
		.b-subscribe
			&:after
				display: none
			&:before
				display: none

	.card-match--full
		flex-direction: column
		justify-content: flex-start
		.card-match
			&__info
				border: none
				border-bottom: 1px solid #D6DAE3
			&__video
				border: none
				margin-left: -1px
				margin-right: -1px
				flex-basis: 150px
				padding-top: 40px
				padding-bottom: 40px
				margin-top: -1px
			&__location
				z-index: 2
			&__detaile
				flex-basis: auto
				padding-top: 30px
				padding-bottom: 30px
			&__vs
				padding-top: 30px
				padding-bottom: 30px
			&__date
				flex-basis: auto
				padding-top: 30px
				padding-bottom: 30px

	.f-container--detail-match

		.wrap-media-table--custom
			overflow-y: hidden
			overflow-x: scroll
			padding-left: 20px
			padding-right: 20px

		.b-table
			width: 700px


		.do-scroll
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			width: 100%

	.player-card__static
		&-value
			flex-direction: column
			width: 33.3%
			&:after
				display: none

		&-number
			padding-bottom: 10px
			font-size: 24pt

		&-title
			text-align: center
			margin-left: 0

	.links-item
		width: 100%
		margin-right: 0

	.section--video .wrap-frame
		height: 300px

	.trener-item
		flex-direction: column
		align-items: flex-start
		margin-bottom: 42px

		&__photo
			margin-bottom: 15px
		&__info
			width: 100%

	.wrap-trener-items
		margin-bottom: 0

	.footer-nav__title .toogle-icon
		display: block

	.share__title
		display: none

	.share__btn
		padding-right: 10px

	butoon.footer-nav__title
		cursor: pointer

	.f-container--footer-info,
	.f-container--footer-bottom,
	.footer-nav
		max-width: 400px
		margin-left: auto
		margin-right: auto

	.wrap-copy
		flex-wrap: wrap

	.footer-nav

	.footer-nav__col
		order: 1
		width: 100%
		padding-bottom: 0

	.footer-nav__col--not-list
		order: 1

		.footer-nav__title--link
			display: block
			width: 100%

	.footer-nav__list
		display: none

	.footer-bottom__privat
		margin-top: 35px


	.player-info__photo
		margin-right: 0
		width: 100%
		margin-bottom: 20px

	.player-info__content
		&.trener
			flex-basis: 100%
			.player-info
				&__name
					justify-content: center
					text-align: center 
				&__team
					text-align: center 
					justify-content: center
				&__status
					justify-content: center
					&-type
						padding-right: 0
						text-align: center
					&-league
						text-align: center

@media only screen and (max-width : 600px)
	.home-slider__title
		font-size: 16pt
		font-family: clearsans
		line-height: 1.4

	.home-slider__content-header
		flex-wrap: wrap

	.home-slider__date
		width: 100%

	.home-slider__city
		margin-top: 15px
		margin-left: 0
		
	.container--team-page
		.coaching-list__item
			width: 50%

	.contents-mit-tiile--home
		padding-left: 0
		padding-right: 0
		.content-mit-tiile
			.title-default
				span
					padding-left: 20px
			.b-table
				padding-left: 10px
				padding-right: 10px

	.player-card
		&__static
			.title-default 
				display: none

		&__number
			display: none

		&__header
			flex-wrap: wrap
			justify-content: center

		&__info
			flex: auto
			width: 100%
			justify-content: center
			text-align: center
			padding-top: 15px

		&__name
			max-width: 100%

		&__content
			padding-left: 15px
			padding-right: 15px
			padding-bottom: 30px




	.card-match--big
		justify-content: space-between
		
		.card-match
			&__team

			&__info

			&__vs

			&__date-time

			&__info-footer
				
				flex-direction: column

			&__date
				text-align: center
				padding-right: 0
				padding-top: 25px
				padding-bottom: 25px

			&__stadium
				padding-left: 0
				text-align: center
				padding-bottom: 20px


			&__video
				margin-top: 5px
				width: 100%
				height: 220px
				flex-basis: 220px

	.wrap-404
		flex-wrap: wrap
	.b-404
		&__content
			width: 100%
			flex-basis: 100%
		&__photo
			display: none

	.wrap-load-files .load-files__item
		width: 50%

	.time-history__control
		display: none

	.wrap-time-history
		transform: translateX(0) !important
		flex-wrap: wrap
		padding: 20px 20px 30px

	.hide-media-history
		.time-history__col
			display: none
			&:nth-child(-n+3)
				display: block

	.time-history
		&__col
			width: 100%
			flex-basis: 100%
			border: none
			padding-left: 0
			padding-right: 0
			padding-top: 10px
			
		&__event
			margin-left: 0 !important
			max-width: 320px
			padding-bottom: 20px
			margin-bottom: 20px
			margin-right: 0 !important

		&__year
			margin-left: 0
			margin-bottom: 10px

	.time-history__content
		padding-bottom: 20px
		.load-more
			display: -webkit-flex !important
			display: -moz-flex !important
			display: -ms-flex !important
			display: -o-flex !important
			display: flex !important
			transition: transform ease .3s
			padding: 0
			&.active
				.icon-load-more
					transform: rotate(180deg)

	.b-subscribe
		padding-left: 0
		padding-right: 0

	.news-item
		width: 100%
		&--big
			width: 100%
			height: 300px


	.fotogalery-card
		width: 70%
	.fotogalery-card__name
		width: 100%

	.player-info__table
		padding-top: 40px
		&-row
			flex-wrap: wrap
			border-bottom: none !important
			padding: 0
			&:last-of-type
				.player-info__table-cell
					&:last-of-type
						border-bottom: none

		&-cell
			padding-left: 15px
			padding-right: 15px
			width: 100% !important
			border-bottom: 1px solid #D6DAE3
			margin-bottom: 15px
			padding-bottom: 15px

	.list-information__item
		width: 100%
		padding-left: 0
		padding-right: 0
		margin-bottom: 50px

	.competition__item
		width: 33%

	.progress
		.wrap-progress__slider
			padding-left: 0
			padding-right: 0

	.progress__controls
		display: none

	.b-subscribe
		position: relative
		background-image: none
		&:after
			position: absolute
			content: ''
			background-color: $d-blue
			right: 99.9%
			left: -20px
			height: 100%
			bottom: 0
		&:before
			position: absolute
			content: ''
			background-color: $d-blue
			left: 99.9%
			right: -20px
			height: 100%
			bottom: 0

	.b-subscribe__form
		background-color: transparent
		border: none
		flex-wrap: wrap
		padding-left: 30px
		padding-right: 30px

		.input
			border-radius: 50px
			margin-bottom: 20px
			padding-top: 12px
			padding-bottom: 12px

	.b-subscribe__send
		padding-top: 13px
		padding-bottom: 13px
		width: 100%

	.player-info
		&__photo
			margin-right: 0
			margin-bottom: 20px

		&__status
			flex-wrap: wrap
			&-type
				width: 100%
				margin-bottom: 25px
				padding-right: 0

		&__content
			&.trener
				.player-info__status-type
					margin-bottom: 0

		&__nickname
			text-align: center

		&__name
			justify-content: center
			text-align: center
			.number
				display: none
		&__team
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			height: 20px
			align-items: flex-start
			justify-content: space-between
			.number
				display: -webkit-flex !important
				display: -moz-flex !important
				display: -ms-flex !important
				display: -o-flex !important
				display: flex !important

@media only screen and (max-width : 481px)
	.container--team-page
		.coaching-list__item
			width: 100%
	.container--header
		justify-content: space-between

	.header__sponsor
		display: none

	.matches-tabs
		&__header
			padding-left: 10px

	.matches-tabs__more .link-mit-arrow
		margin-left: 0

	.table-label
		right: 0

	.matches-tabs__turnir-table
		.b-table	
			padding-left: 15px
			padding-right: 15px

	.container--matches-tabs
		padding-left: 0
		padding-right: 0

		.b-subscribe
			&:after
				display: none
			&:before
				display: none
	.player-card__static
		&-title
			max-width: 90px
			
	.contents-mit-tiile--home
		.content-mit-tiile
			.t-a-c--media
				text-align: center

	.container--info-match
		padding-left: 0
		padding-right: 0
	.f-container--detail-match
		padding-left: 0
		padding-right: 0

	.search-form--page
		.search-form__input
			font-size: 12pt
	.wrap-load-files
		.load-files__item
			width: 100%
		.load-files__photo
			margin-left: 0
		.load-files__link
			justify-content: flex-start

	.coaching-list--contact
		.coaching-list__item
			width: 100%

	.section--video .wrap-frame
		height: 200px

	.coaching-list__item
		width: 100%

	.page--histiry
		.coaching-list--border-item
			margin-bottom: 10px

	.fotogalery-card
		width: 100%

	.news-item--big
		padding-left: 10px
		padding-right: 10px
		.wrap-news-header
			flex-wrap: wrap
		.news-item__date
			width: 100%
			text-align: center
			margin-bottom: 20px
		.news-item__title
			font-size: 18pt
	.show-media
		&--sm
			display: block !important
		&--sm-flex
			display: -webkit-flex !important
			display: -moz-flex !important
			display: -ms-flex !important
			display: -o-flex !important
			display: flex !important

	.hide-media--sm
		display: none

	.competition__item
		width: 50%

	.b-text-border
		padding-left: 0
		border-left: 0
		font-size: 11pt
		line-height: 1.6

	.title-default
		border: none


	// .progress__item
	// 	transform: translateX(-20px)
	// 	//transition: transform ease .3s
	// 	&.active
	// 		transform: translateX(0)
